.ce * {
	border-color: black;
}

.ce[data-color-sheme] {
	@include prop-transition(all 1s ease-in-out);
} 

.ce {
	.ce-bodytext {
		line-height: 1.75;
	}
}


main {
	@include headlines(false,2,6) {
		margin-top: 0;
	}
}