{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{form.success}">
	<f:then>
		Success Message
		<f:comment>//TODO Summary</f:comment>
	</f:then>
	<f:else>
		<form enctype="multipart/form-data" name="contact" class="nj-form">
			<f:form.hidden name="contactRequest" value="1" />
			<f:if condition="{form.options.ajax}">
				<f:then>
					<f:form.hidden name="requestType" value="ajax" />
				</f:then>
				<f:else>
					<f:form.hidden name="requestType" value="default" />
				</f:else>
			</f:if>
			<f:render section="introMessages" arguments="{errors:errors}" />
			<f:if condition="{form.options.useFieldsets}">
				<f:then></f:then>
				<f:else>
					<fieldset name="data">
						<f:render section="fields" arguments="{form:form}" />
					</fieldset>
				</f:else>
			</f:if>
			<f:render section="button" arguments="{_all}" />
		</form>
	</f:else>
</f:if>

<f:comment>
<f:if condition="{form.success}">
	<f:then>
		Success Message
		<f:comment>//TODO Summary</f:comment>
	</f:then>
	<f:else>
		<form enctype="multipart/form-data" name="contact" class="form">
			<f:form.hidden name="contactRequest" value="1" />
			<f:if condition="{form.options.ajax}">
				<f:then>
					<f:form.hidden name="requestType" value="ajax" />
				</f:then>
				<f:else>
					<f:form.hidden name="requestType" value="default" />
				</f:else>
			</f:if>
			<div class="form form--wrapper">
				<f:render section="introMessage" arguments="{errors:errors}" />
				<f:if condition="{form.options.useFieldsets}">
					<f:then>
						<f:render section="fields" arguments="{form:form}" />
					</f:then>
					<f:else>
						<fieldset name="data">
							<f:render section="fields" arguments="{form:form}" />
						</fieldset>
					</f:else>
				</f:if>
			</div>
		</form>
	</f:else>
</f:if>
</f:comment>
<f:section name="introMessages">
	<f:if condition="{errors}">
		<njbs:wrap.message type="error" message="form.info.errorsOccurs.body" />       
	</f:if>
</f:section>


<f:comment>
additionalArguments => array(2 items)
addon-class => 'user' (4 chars)
autocomplete => 'off' (3 chars)
fieldset => 'adressData' (10 chars)
mandatory => TRUE
type => 'input' (5 chars)
</f:comment>

<f:section name="fields">
	<f:for each="{form.fields}" as="field" key="key" iteration="ifield">
		<f:alias map="{id:key}">
			<f:render section="field_{field.type}" arguments="{_all}" />
		</f:alias>
	</f:for>
</f:section>

<f:section name="fieldset">
	<f:for each="{fieldset}" as="field" key="title" iteration="iterator">
		<f:alias map="{id:title,mandatory:field.mandatory,error:'{njcVH:array(inputArray: errors, key: title)}'}">
			<div class="field-wrapper{f:if(condition:'{error}',then:' error',else:'')}" data-mandatory="{f:if(condition:'{mandatory}',then:'1',else:'0')}">
				<f:render section="label" arguments="{id:id,mandatory:mandatory}" ></f:render>
				<div class="input-group">
					<f:render section="field_{field.type}" arguments="{_all}" ></f:render>
				</div>
				<f:if condition="{error}">
					<span class="note"><f:translate key="{ext.langFile}form.error.{title}.{njcVH:array(inputArray:errors,key:title)}"></f:translate></span>
				</f:if>
			</div>
		</f:alias>
	</f:for>
</f:section>

<f:section name="field_input">
	<f:alias map="{args:{spellcheck:'false',autocomplete:'off'}}">
		<f:render section="label" arguments="{id:id,field:field}" />
		<f:form.textfield 
			class="form-control" 
			id="form_{id}" 
			name="{id}" 
			data="{f:if(condition:field.mandatory,then:{required:field.mandatory,valid:0})}" 
			type="{f:if(condition:field.eval,then:field.eval,else:'text')}" 
			additionalAttributes="{njcVH:inputArguments(args:field)}" />
	</f:alias>
</f:section>

<f:section name="field_text">
	<f:render section="label" arguments="{id:id,field:field}" />
	<f:form.textarea 
		id="form_{id}" 
		name="{id}" 
		data="{f:if(condition:field.mandatory,then:{required:field.mandatory,valid:0})}" 
		class="form-control" 
		additionalAttributes="{rows:'7'}" /> 
</f:section>

<f:section name="label">
	<label for="form_{id}"><f:translate key="{settings.language.file}form.label.{id}" /><f:if condition="{field.mandatory}"><span class="label label--required">*</span></f:if></label>
</f:section>

<f:section name="button">
	<fieldset name="finish">
		<f:if condition="{form.options.ajax}">
			<f:then>
				<njbs:wrap.button action="submit" class="form" disabled="1" isAjax="true"><f:translate key="form.submit.sendMessage" /></njbs:wrap.button>
			</f:then>
			<f:else>
				<f:form.button name="submitFormData">Nachricht senden</f:form.button>
			</f:else>
		</f:if>
		
	</fieldset>
</f:section>