<style>
	.intro {
		border-bottom: 1px solid black;
		margin-bottom: 15px;
		padding: 5px 0;
	}
	ul, li {
		margin: 0;
		list-style-type: none;
	}
	li { padding: 3px 0; }
</style>
<div class="intro">Folgende Daten wurden übermittelt:</div>
<f:if condition="{arguments}">
	<ul>
		<f:for each="{arguments}" as="argument" key="key" iteration="iargument">
			<li><span class="label">{key}:</span>{argument}</li>
		</f:for>
	</ul>
</f:if>