{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{errors}">
	<f:then><f:render section="errors" arguments="{errors:errors}" /></f:then>
	<f:else><njbs:wrap.message message="form.submit.success.contact" type="success" /></f:else>
</f:if>