/* Underline From Center */
@mixin underline-from-center($default:true,$hover:true) {
	@if $default == true {
		$duration: $mediumDuration;

		@include hacks();
		position: relative;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			bottom: 0;
			background: $activeColor;
			height: 4px;
			left: 50%;
			right: 50%;
		
			@include prefixed(transition-property, "left, right");
			@include prefixed(transition-duration, $duration);
			@include prefixed(transition-timing-function, ease-out);
		}
	}
	@else {
		@if $hover == true {
			&:hover,
			&:focus,
			&:active {

				&:before {
					left: 0;
					right: 0;
				}
			}
		}
		@else {
			&:before {
				left: 0;
				right: 0;
			}
		}
	}
}