{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{data}">
	<f:then><njbs:wrap.button contentData="{data}" /></f:then>
	<f:else>
		
	</f:else>
</f:if>