<div class="ce-title">
	<f:switch expression="{data.colPos}">
		<f:case value="1"><h1>{data.header}</h1></f:case>
		<f:case default="TRUE"><h2>{data.header}</h2></f:case>
	</f:switch>
	<f:if condition="{data.subheader}">
		<div class="subtitle">{data.subheader}</div>
	</f:if>
</div>
