<div data-uid="{pa.row.uid}" data-pid="{pa.row.pid}" class="clearfix" data-container="animationSelection">
	<div class="container-image">
	<f:alias map="{id:'animateCssTarget',width:500}">
		<f:if condition="{image}">
			<f:then><f:image id="{id}{pa.row.uid}" src="{image}" width="{width}" treatIdAsReference="1" /></f:then>
			<f:else><f:image id="{id}{pa.row.uid}" src="EXT:nj_bootstrap/Resources/Public/Gfx/_tt_content_test_animatecss.jpg" width="{width}" treatIdAsReference="0" /></f:else>
		</f:if>
	</f:alias>
	</div>
	<div class="container-selection">
		<select class="input dropdown" data-type="animationSelection">
			<optgroup label="Attention Seekers">
				<option value="bounce">bounce</option>
				<option value="flash">flash</option>
				<option value="pulse">pulse</option>
				<option value="rubberBand">rubberBand</option>
				<option value="shake">shake</option>
				<option value="swing">swing</option>
				<option value="tada">tada</option>
				<option value="wobble">wobble</option>
				<option value="jello">jello</option>
			</optgroup>
			<optgroup label="Bouncing">
				<option value="bounceIn">bounceIn</option>
				<option value="bounceInDown">bounceInDown</option>
				<option value="bounceInLeft">bounceInLeft</option>
				<option value="bounceInRight">bounceInRight</option>
				<option value="bounceInUp">bounceInUp</option>
			</optgroup>
			<optgroup label="Fading">
				<option value="fadeIn">fadeIn</option>
				<option value="fadeInDown">fadeInDown</option>
				<option value="fadeInDownBig">fadeInDownBig</option>
				<option value="fadeInLeft">fadeInLeft</option>
				<option value="fadeInLeftBig">fadeInLeftBig</option>
				<option value="fadeInRight">fadeInRight</option>
				<option value="fadeInRightBig">fadeInRightBig</option>
				<option value="fadeInUp">fadeInUp</option>
				<option value="fadeInUpBig">fadeInUpBig</option>
			</optgroup>
			<optgroup label="Flippers">
				<option value="flip">flip</option>
				<option value="flipInX">flipInX</option>
				<option value="flipInY">flipInY</option>
			</optgroup>
			<optgroup label="Rotating">
				<option value="rotateIn">rotateIn</option>
				<option value="rotateInDownLeft">rotateInDownLeft</option>
				<option value="rotateInDownRight">rotateInDownRight</option>
				<option value="rotateInUpLeft">rotateInUpLeft</option>
				<option value="rotateInUpRight">rotateInUpRight</option>
			</optgroup>
			<optgroup label="Sliding">
				<option value="slideInUp">slideInUp</option>
				<option value="slideInDown">slideInDown</option>
				<option value="slideInLeft">slideInLeft</option>
				<option value="slideInRight">slideInRight</option>
			</optgroup>
			<optgroup label="Specials">
				<option value="hinge">hinge</option>
				<option value="lightSpeedIn">lightSpeedIn</option>
				<option value="rollIn">rollIn</option>
			</optgroup>
			<optgroup label="Zoom">
				<option value="zoomIn">zoomIn</option>
				<option value="zoomInDown">zoomInDown</option>
				<option value="zoomInLeft">zoomInLeft</option>
				<option value="zoomInRight">zoomInRight</option>
				<option value="zoomInUp">zoomInUp</option>
			</optgroup>
		</select>
		<button class="nj-button" data-task="triggerAnimation">Bild animieren</button>
	</div>
</div>