/* Bounce To Right */
@mixin bounce-to-right($default:true,$hover:true) {
	
	@if $default == true {
		@include hacks();
		position: relative;
		@include prefixed(transition-property, color);
		@include prefixed(transition-duration, $slowDuration);

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $activeColor;
			@include prefixed(transform, scaleX(0));
			@include prefixed(transform-origin, 0 50%);
			@include prefixed(transition-property, transform);
			@include prefixed(transition-duration, $slowDuration);
			@include prefixed(transition-timing-function, ease-out);
		}
	}
	@else {
		%hover {
			color: white;
			&:before {
				@include prefixed(transform, scaleX(1));
				@include prefixed(transition-timing-function, cubic-bezier(.52,1.64,.37,.66));
			}
		}
		
		@if $hover == true {
			&:hover,
			&:focus,
			&:active {
				color: white;
				padding-left: 15px;
				padding-right: 15px;
				
				&:before {
					@include prefixed(transform, scaleX(1));
					@include prefixed(transition-timing-function, cubic-bezier(.52,1.64,.37,.66));
				}
			}
		}
		@else {
			color: white;
			padding-left: 15px;
			padding-right: 15px;
			
			&:before {
				@include prefixed(transform, scaleX(1));
				@include prefixed(transition-timing-function, cubic-bezier(.52,1.64,.37,.66));
			}
		}
	}
}
