@import "_options.scss";
@import "_prefixes.scss";
@import "_hacks.scss";
 
@import "Background_Transitions/_shutter-out-horizontal.scss";
@import "Background_Transitions/_bounce-to-right.scss";
@import "Border_Transitions/_underline-from-center.scss";
@import "Border_Transitions/_underline-from-left.scss";

$namespaces : (
	'hover' : false,
	'active' : true
);


@mixin transitionsIncludeDefault(
	$selectedEffects,
	$namespaces:(
	'hover' : true,
	'effect' : false
	)
) {
	@each $effect in $selectedEffects {
		$selectors : ();
		@each $selector, $hover in $namespaces {
			$selectors: join($selectors, unquote(".#{$selector}.#{$selector}--#{$effect}"),comma);
		}
		
		@if $effect == 'bounce-to-right' {
			#{$selectors} {
				@include bounce-to-right(true);
			}
		}
		@if $effect == 'underline-from-center' {
			#{$selectors} {
				@include underline-from-center(true);
			}
		}
		@if $effect == 'underline-from-left' {
			#{$selectors} {
				@include underline-from-left(true);
			}
		}
		
		@each $selector, $hover in $namespaces {
			$selectorChain : unquote(".#{$selector}.#{$selector}--#{$effect}");
			@if $hover == false {
				$selectorChain : unquote("#{$selectorChain}.active");
			}
			
			@if $effect == 'bounce-to-right' {
				#{$selectorChain} {
					@if $hover == true {
						@include bounce-to-right(false,true);
					}
					@else {
						@include bounce-to-right(false,false);
					}
				}
			}
			@if $effect == 'underline-from-center' {
				#{$selectorChain} {
					@if $hover == true {
						@include underline-from-center(false,true);
					}
					@else {
						@include underline-from-center(false,false);
					}
				}
			}
			@if $effect == 'underline-from-left' {
				#{$selectorChain} {
					@if $hover == true {
						@include underline-from-left(false,true);
					}
					@else {
						@include underline-from-left(false,false);
					}
				}
			}
		}
	}
}