//#http://ianlunn.github.io/Hover/#effects

nav.hover {
	&.hover--rotateX360 {
		A {
			display: block;
			&:hover {
				@include prop-transition(all 0.75s);
				@include prop-transform-style(preserve-3d);
				@include prop-transform(rotateX(360deg));
			}
		}
	}
}