/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**
 * @param {Size} $x [2px] - X
 * @param {Size} $y [2px] - Y
 * @param {Size} $blur [2px] - Blur
 * @param {Color} $color [rgba(0,0,0,.4)] - Color
 */
/**
 * @values: row|row-reverse|column|column-reverse|initial|inherit
 */
/**
 * @values: nowrap|wrap|wrap-reverse|initial|inherit
 */
/**
 * @values: stretch|center|flex-start|flex-end|space-between|space-around|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-content.asp
 **/
/**
 * @values: stretch|center|flex-start|flex-end|baseline|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-items.asp
 **/
/**
 * @ref: http://www.w3schools.com/cssref/css3_pr_flex-flow.asp
 **/
.nj-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

@media only screen and (min-width: 768px) {
  .nj-flex {
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: baseline;
    /* Safari 7.0+ */
    align-items: baseline;
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    justify-content: center;
    -webkit-flex-direction: row;
    /* Safari 6.1+ */
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    /* Safari 6.1+ */
    flex-wrap: nowrap; }
    .nj-flex[data-flex-align-content="center"] {
      -webkit-align-content: center;
      align-content: center; }
    .nj-flex[data-flex-align-content="flex-end"] {
      -webkit-align-content: flex-end;
      align-content: flex-end; }
    .nj-flex[data-flex-align-content="flex-start"] {
      -webkit-align-content: flex-start;
      align-content: flex-start; }
    .nj-flex[data-flex-align-content="space-around"] {
      -webkit-align-content: space-around;
      align-content: space-around; }
    .nj-flex[data-flex-align-content="space-between"] {
      -webkit-align-content: space-between;
      align-content: space-between; }
    .nj-flex[data-flex-align-content="stretch"] {
      -webkit-align-content: stretch;
      align-content: stretch; }
    .nj-flex[data-flex-align-items="baseline"] {
      -webkit-align-items: baseline;
      /* Safari 7.0+ */
      align-items: baseline; }
    .nj-flex[data-flex-align-items="center"] {
      -webkit-align-items: center;
      /* Safari 7.0+ */
      align-items: center; }
    .nj-flex[data-flex-align-items="flex-end"] {
      -webkit-align-items: flex-end;
      /* Safari 7.0+ */
      align-items: flex-end; }
    .nj-flex[data-flex-align-items="flex-start"] {
      -webkit-align-items: flex-start;
      /* Safari 7.0+ */
      align-items: flex-start; }
    .nj-flex[data-flex-align-items="stretch"] {
      -webkit-align-items: stretch;
      /* Safari 7.0+ */
      align-items: stretch; }
    .nj-flex[data-flex-direction="row"] {
      -webkit-flex-direction: row;
      /* Safari 6.1+ */
      flex-direction: row; }
    .nj-flex[flex-data-direction="row-reverse"] {
      -webkit-flex-direction: row-reverse;
      /* Safari 6.1+ */
      flex-direction: row-reverse; }
    .nj-flex[flex-data-direction="column"] {
      -webkit-flex-direction: column;
      /* Safari 6.1+ */
      flex-direction: column; }
    .nj-flex[flex-data-direction="column-reverse"] {
      -webkit-flex-direction: column-reverse;
      /* Safari 6.1+ */
      flex-direction: column-reverse; }
    .nj-flex[data-flex-wrap="nowrap"] {
      -webkit-flex-wrap: nowrap;
      /* Safari 6.1+ */
      flex-wrap: nowrap; }
    .nj-flex[data-flex-wrap="wrap"] {
      -webkit-flex-wrap: wrap;
      /* Safari 6.1+ */
      flex-wrap: wrap; }
    .nj-flex[data-flex-wrap="wrap-reverse"] {
      -webkit-flex-wrap: wrap-reverse;
      /* Safari 6.1+ */
      flex-wrap: wrap-reverse; }
    .nj-flex[data-flex-rows="2"] .nj-flex-item {
      width: 50%; }
    .nj-flex[data-flex-rows="5"] .nj-flex-item {
      width: 20%; }
    .nj-flex[data-direction="text-left-image-right"] .nj-flex-item:first-child {
      -webkit-box-ordinal-group: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 1;
      /* OLD - Firefox 19- */
      -ms-flex-order: 1;
      /* TWEENER - IE 10 */
      -webkit-order: 1;
      /* NEW - Chrome */
      order: 1; }
      .nj-flex[data-direction="text-left-image-right"] .nj-flex-item:first-child .ce-bodytext, .nj-flex[data-direction="text-left-image-right"] .nj-flex-item:first-child .ce-title {
        text-align: right; }
    .nj-flex[data-direction="text-left-image-right"] .nj-flex-item:last-child {
      -webkit-box-ordinal-group: 2;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 2;
      /* OLD - Firefox 19- */
      -ms-flex-order: 2;
      /* TWEENER - IE 10 */
      -webkit-order: 2;
      /* NEW - Chrome */
      order: 2; }
    .nj-flex[data-direction="text-right-image-left"] .nj-flex-item:first-child {
      -webkit-box-ordinal-group: 2;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 2;
      /* OLD - Firefox 19- */
      -ms-flex-order: 2;
      /* TWEENER - IE 10 */
      -webkit-order: 2;
      /* NEW - Chrome */
      order: 2; }
      .nj-flex[data-direction="text-right-image-left"] .nj-flex-item:first-child .ce-bodytext, .nj-flex[data-direction="text-right-image-left"] .nj-flex-item:first-child .ce-title {
        text-align: left; }
    .nj-flex[data-direction="text-right-image-left"] .nj-flex-item:last-child {
      -webkit-box-ordinal-group: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-ordinal-group: 1;
      /* OLD - Firefox 19- */
      -ms-flex-order: 1;
      /* TWEENER - IE 10 */
      -webkit-order: 1;
      /* NEW - Chrome */
      order: 1; } }
@font-face {
  font-family: "Higher";
  src: url("Fonts/higher-webfont.eot");
  src: url("Fonts/higher-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/higher-webfont.woff") format("woff"), url("Fonts/higher-webfont.ttf") format("truetype"), url("Fonts/higher-webfont.svg#higher-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Black";
  src: url("Fonts/kanit-black-webfont.eot");
  src: url("Fonts/kanit-black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-black-webfont.woff") format("woff"), url("Fonts/kanit-black-webfont.ttf") format("truetype"), url("Fonts/kanit-black-webfont.svg#kanit-black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-BlackItalic";
  src: url("Fonts/kanit-blackitalic-webfont.eot");
  src: url("Fonts/kanit-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-blackitalic-webfont.woff") format("woff"), url("Fonts/kanit-blackitalic-webfont.ttf") format("truetype"), url("Fonts/kanit-blackitalic-webfont.svg#kanit-blackitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Bold";
  src: url("Fonts/kanit-bold-webfont.eot");
  src: url("Fonts/kanit-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-bold-webfont.woff") format("woff"), url("Fonts/kanit-bold-webfont.ttf") format("truetype"), url("Fonts/kanit-bold-webfont.svg#kanit-bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-BoldItalic";
  src: url("Fonts/kanit-bolditalic-webfont.eot");
  src: url("Fonts/kanit-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-bolditalic-webfont.woff") format("woff"), url("Fonts/kanit-bolditalic-webfont.ttf") format("truetype"), url("Fonts/kanit-bolditalic-webfont.svg#kanit-bolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Extrabold";
  src: url("Fonts/kanit-extrabold-webfont.eot");
  src: url("Fonts/kanit-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-extrabold-webfont.woff") format("woff"), url("Fonts/kanit-extrabold-webfont.ttf") format("truetype"), url("Fonts/kanit-extrabold-webfont.svg#kanit-extrabold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-ExtraboldItalic";
  src: url("Fonts/kanit-extrabolditalic-webfont.eot");
  src: url("Fonts/kanit-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-extrabolditalic-webfont.woff") format("woff"), url("Fonts/kanit-extrabolditalic-webfont.ttf") format("truetype"), url("Fonts/kanit-extrabolditalic-webfont.svg#kanit-extrabolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Extralight";
  src: url("Fonts/kanit-extralight-webfont.eot");
  src: url("Fonts/kanit-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-extralight-webfont.woff") format("woff"), url("Fonts/kanit-extralight-webfont.ttf") format("truetype"), url("Fonts/kanit-extralight-webfont.svg#kanit-extralight-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-ExtralightItalic";
  src: url("Fonts/kanit-extralightitalic-webfont.eot");
  src: url("Fonts/kanit-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-extralightitalic-webfont.woff") format("woff"), url("Fonts/kanit-extralightitalic-webfont.ttf") format("truetype"), url("Fonts/kanit-extralightitalic-webfont.svg#kanit-extralightitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Italic";
  src: url("Fonts/kanit-italic-webfont.eot");
  src: url("Fonts/kanit-italic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-italic-webfont.woff") format("woff"), url("Fonts/kanit-italic-webfont.ttf") format("truetype"), url("Fonts/kanit-italic-webfont.svg#kanit-italic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Light";
  src: url("Fonts/kanit-light-webfont.eot");
  src: url("Fonts/kanit-light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-light-webfont.woff") format("woff"), url("Fonts/kanit-light-webfont.ttf") format("truetype"), url("Fonts/kanit-light-webfont.svg#kanit-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-LightItalic";
  src: url("Fonts/kanit-lightitalic-webfont.eot");
  src: url("Fonts/kanit-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-lightitalic-webfont.woff") format("woff"), url("Fonts/kanit-lightitalic-webfont.ttf") format("truetype"), url("Fonts/kanit-lightitalic-webfont.svg#kanit-lightitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Medium";
  src: url("Fonts/kanit-medium-webfont.eot");
  src: url("Fonts/kanit-medium-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-medium-webfont.woff") format("woff"), url("Fonts/kanit-medium-webfont.ttf") format("truetype"), url("Fonts/kanit-medium-webfont.svg#kanit-medium-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-MediumItalic";
  src: url("Fonts/kanit-mediumitalic-webfont.eot");
  src: url("Fonts/kanit-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-mediumitalic-webfont.woff") format("woff"), url("Fonts/kanit-mediumitalic-webfont.ttf") format("truetype"), url("Fonts/kanit-mediumitalic-webfont.svg#kanit-mediumitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit";
  src: url("Fonts/kanit-regular-webfont.eot");
  src: url("Fonts/kanit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-regular-webfont.woff") format("woff"), url("Fonts/kanit-regular-webfont.ttf") format("truetype"), url("Fonts/kanit-regular-webfont.svg#kanit-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Semibold";
  src: url("Fonts/kanit-semibold-webfont.eot");
  src: url("Fonts/kanit-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-semibold-webfont.woff") format("woff"), url("Fonts/kanit-semibold-webfont.ttf") format("truetype"), url("Fonts/kanit-semibold-webfont.svg#kanit-semibold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-SemiboldItalic";
  src: url("Fonts/kanit-semibolditalic-webfont.eot");
  src: url("Fonts/kanit-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-semibolditalic-webfont.woff") format("woff"), url("Fonts/kanit-semibolditalic-webfont.ttf") format("truetype"), url("Fonts/kanit-semibolditalic-webfont.svg#kanit-semibolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-Thin";
  src: url("Fonts/kanit-thin-webfont.eot");
  src: url("Fonts/kanit-thin-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-thin-webfont.woff") format("woff"), url("Fonts/kanit-thin-webfont.ttf") format("truetype"), url("Fonts/kanit-thin-webfont.svg#kanit-thin-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kanit-ThinItalic";
  src: url("Fonts/kanit-thinitalic-webfont.eot");
  src: url("Fonts/kanit-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kanit-thinitalic-webfont.woff") format("woff"), url("Fonts/kanit-thinitalic-webfont.ttf") format("truetype"), url("Fonts/kanit-thinitalic-webfont.svg#kanit-thinitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("Fonts/lato-regular-webfont.eot");
  src: url("Fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-regular-webfont.woff") format("woff"), url("Fonts/lato-regular-webfont.ttf") format("truetype"), url("Fonts/lato-regular-webfont.svg#lato-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Black";
  src: url("Fonts/lato-black-webfont.eot");
  src: url("Fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-black-webfont.woff") format("woff"), url("Fonts/lato-black-webfont.ttf") format("truetype"), url("Fonts/lato-black-webfont.svg#lato-black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-BlackItalic";
  src: url("Fonts/lato-blackitalic-webfont.eot");
  src: url("Fonts/lato-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-blackitalic-webfont.woff") format("woff"), url("Fonts/lato-blackitalic-webfont.ttf") format("truetype"), url("Fonts/lato-blackitalic-webfont.svg#lato-blackitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Bold";
  src: url("Fonts/lato-bold-webfont.eot");
  src: url("Fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-bold-webfont.woff") format("woff"), url("Fonts/lato-bold-webfont.ttf") format("truetype"), url("Fonts/lato-bold-webfont.svg#lato-bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-BoldItalic";
  src: url("Fonts/lato-bolditalic-webfont.eot");
  src: url("Fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-bolditalic-webfont.woff") format("woff"), url("Fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("Fonts/lato-bolditalic-webfont.svg#lato-bolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Hairline";
  src: url("Fonts/lato-hairline-webfont.eot");
  src: url("Fonts/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-hairline-webfont.woff") format("woff"), url("Fonts/lato-hairline-webfont.ttf") format("truetype"), url("Fonts/lato-hairline-webfont.svg#lato-hairline-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-HairlineItalic";
  src: url("Fonts/lato-hairlineitalic-webfont.eot");
  src: url("Fonts/lato-hairlineitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-hairlineitalic-webfont.woff") format("woff"), url("Fonts/lato-hairlineitalic-webfont.ttf") format("truetype"), url("Fonts/lato-hairlineitalic-webfont.svg#lato-hairlineitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Italic";
  src: url("Fonts/lato-italic-webfont.eot");
  src: url("Fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-italic-webfont.woff") format("woff"), url("Fonts/lato-italic-webfont.ttf") format("truetype"), url("Fonts/lato-italic-webfont.svg#lato-italic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Light";
  src: url("Fonts/lato-light-webfont.eot");
  src: url("Fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-light-webfont.woff") format("woff"), url("Fonts/lato-light-webfont.ttf") format("truetype"), url("Fonts/lato-light-webfont.svg#lato-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-LightItalic";
  src: url("Fonts/lato-lightitalic-webfont.eot");
  src: url("Fonts/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lato-lightitalic-webfont.woff") format("woff"), url("Fonts/lato-lightitalic-webfont.ttf") format("truetype"), url("Fonts/lato-lightitalic-webfont.svg#lato-lightitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LoveloLine-Light";
  src: url("Fonts/lovelo_line_light-webfont.eot");
  src: url("Fonts/lovelo_line_light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lovelo_line_light-webfont.woff") format("woff"), url("Fonts/lovelo_line_light-webfont.ttf") format("truetype"), url("Fonts/lovelo_line_light-webfont.svg#lovelo_line_light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto";
  src: url("Fonts/Roboto-Regular-webfont.eot");
  src: url("Fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Regular-webfont.woff") format("woff"), url("Fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("Fonts/Roboto-Regular-webfont.svg#Roboto-Regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Black";
  src: url("Fonts/Roboto-Black-webfont.eot");
  src: url("Fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Black-webfont.woff") format("woff"), url("Fonts/Roboto-Black-webfont.ttf") format("truetype"), url("Fonts/Roboto-Black-webfont.svg#Roboto-Black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("Fonts/Roboto-BlackItalic-webfont.eot");
  src: url("Fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("Fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-BlackItalic-webfont.svg#Roboto-BlackItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Bold";
  src: url("Fonts/Roboto-Bold-webfont.eot");
  src: url("Fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Bold-webfont.woff") format("woff"), url("Fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("Fonts/Roboto-Bold-webfont.svg#Roboto-Bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("Fonts/Roboto-BoldItalic-webfont.eot");
  src: url("Fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("Fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-BoldItalic-webfont.svg#Roboto-BoldItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("Fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("Fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("Fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("Fonts/RobotoCondensed-Regular-webfont.svg#RobotoCondensed-Regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("Fonts/RobotoCondensed-Bold-webfont.eot");
  src: url("Fonts/RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/RobotoCondensed-Bold-webfont.woff") format("woff"), url("Fonts/RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("Fonts/RobotoCondensed-Bold-webfont.svg#RobotoCondensed-Bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("Fonts/RobotoCondensed-BoldItalic-webfont.eot");
  src: url("Fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/RobotoCondensed-BoldItalic-webfont.woff") format("woff"), url("Fonts/RobotoCondensed-BoldItalic-webfont.ttf") format("truetype"), url("Fonts/RobotoCondensed-BoldItalic-webfont.svg#RobotoCondensed-BoldItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("Fonts/RobotoCondensed-Italic-webfont.eot");
  src: url("Fonts/RobotoCondensed-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/RobotoCondensed-Italic-webfont.woff") format("woff"), url("Fonts/RobotoCondensed-Italic-webfont.ttf") format("truetype"), url("Fonts/RobotoCondensed-Italic-webfont.svg#RobotoCondensed-Italic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("Fonts/Roboto-BlackItalic-webfont.eot");
  src: url("Fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("Fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-BlackItalic-webfont.svg#Roboto-BlackItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Italic";
  src: url("Fonts/Roboto-Italic-webfont.eot");
  src: url("Fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Italic-webfont.woff") format("woff"), url("Fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("Fonts/Roboto-Italic-webfont.svg#Roboto-Italic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Light";
  src: url("Fonts/Roboto-Light-webfont.eot");
  src: url("Fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Light-webfont.woff") format("woff"), url("Fonts/Roboto-Light-webfont.ttf") format("truetype"), url("Fonts/Roboto-Light-webfont.svg#Roboto-Light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("Fonts/Roboto-LightItalic-webfont.eot");
  src: url("Fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("Fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-LightItalic-webfont.svg#Roboto-LightItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Medium";
  src: url("Fonts/Roboto-Medium-webfont.eot");
  src: url("Fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Medium-webfont.woff") format("woff"), url("Fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("Fonts/Roboto-Medium-webfont.svg#Roboto-Medium-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("Fonts/Roboto-MediumItalic-webfont.eot");
  src: url("Fonts/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-MediumItalic-webfont.woff") format("woff"), url("Fonts/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-MediumItalic-webfont.svg#Roboto-MediumItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-Thin";
  src: url("Fonts/Roboto-Thin-webfont.eot");
  src: url("Fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-Thin-webfont.woff") format("woff"), url("Fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("Fonts/Roboto-Thin-webfont.svg#Roboto-Thin-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("Fonts/Roboto-ThinItalic-webfont.eot");
  src: url("Fonts/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto-ThinItalic-webfont.woff") format("woff"), url("Fonts/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("Fonts/Roboto-ThinItalic-webfont.svg#Roboto-ThinItalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SlimJoe";
  src: url("Fonts/slim_joe-webfont.eot");
  src: url("Fonts/slim_joe-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/slim_joe-webfont.woff") format("woff"), url("Fonts/slim_joe-webfont.ttf") format("truetype"), url("Fonts/slim_joe-webfont.svg#slim_joe-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BigJohn";
  src: url("Fonts/big_john-webfont.eot");
  src: url("Fonts/big_john-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/big_john-webfont.woff") format("woff"), url("Fonts/big_john-webfont.ttf") format("truetype"), url("Fonts/big_john-webfont.svg#big_john-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Dubtronic";
  src: url("Fonts/Dubtronic-Solid-webfont.eot");
  src: url("Fonts/Dubtronic-Solid-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Dubtronic-Solid-webfont.woff") format("woff"), url("Fonts/Dubtronic-Solid-webfont.ttf") format("truetype"), url("Fonts/Dubtronic-Solid-webfont.svg#Dubtronic-Solid-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "DubtronicInline";
  src: url("Fonts/Dubtronic-Inline-webfont.eot");
  src: url("Fonts/Dubtronic-Inline-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Dubtronic-Inline-webfont.woff") format("woff"), url("Fonts/Dubtronic-Inline-webfont.ttf") format("truetype"), url("Fonts/Dubtronic-Inline-webfont.svg#Dubtronic-Inline-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "FiraSans-Ultra";
  src: url("Fonts/firasans-ultra-webfont.eot");
  src: url("Fonts/firasans-ultra-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/firasans-ultra-webfont.woff") format("woff"), url("Fonts/firasans-ultra-webfont.ttf") format("truetype"), url("Fonts/firasans-ultra-webfont.svg#firasans-ultra-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Goeo";
  src: url("Fonts/goeo-webfont.eot");
  src: url("Fonts/goeo-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/goeo-webfont.woff") format("woff"), url("Fonts/goeo-webfont.ttf") format("truetype"), url("Fonts/goeo-webfont.svg#goeo-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GreatLakes";
  src: url("Fonts/GREALN__-webfont.eot");
  src: url("Fonts/GREALN__-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/GREALN__-webfont.woff") format("woff"), url("Fonts/GREALN__-webfont.ttf") format("truetype"), url("Fonts/GREALN__-webfont.svg#GREALN__-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lovelo-Black";
  src: url("Fonts/lovelo_black-webfont.eot");
  src: url("Fonts/lovelo_black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lovelo_black-webfont.woff") format("woff"), url("Fonts/lovelo_black-webfont.ttf") format("truetype"), url("Fonts/lovelo_black-webfont.svg#lovelo_black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LoveloLine-Bold";
  src: url("Fonts/lovelo_line_bold-webfont.eot");
  src: url("Fonts/lovelo_line_bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/lovelo_line_bold-webfont.woff") format("woff"), url("Fonts/lovelo_line_bold-webfont.ttf") format("truetype"), url("Fonts/lovelo_line_bold-webfont.svg#lovelo_line_bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Luna";
  src: url("Fonts/luna-webfont.eot");
  src: url("Fonts/luna-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/luna-webfont.woff") format("woff"), url("Fonts/luna-webfont.ttf") format("truetype"), url("Fonts/luna-webfont.svg#luna-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ModerneSans";
  src: url("Fonts/moderne_sans-webfont.eot");
  src: url("Fonts/moderne_sans-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/moderne_sans-webfont.woff") format("woff"), url("Fonts/moderne_sans-webfont.ttf") format("truetype"), url("Fonts/moderne_sans-webfont.svg#moderne_sans-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MullerNarrow-ExtraBold";
  src: url("Fonts/mullernarrow-extrabold-webfont.eot");
  src: url("Fonts/mullernarrow-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/mullernarrow-extrabold-webfont.woff") format("woff"), url("Fonts/mullernarrow-extrabold-webfont.ttf") format("truetype"), url("Fonts/mullernarrow-extrabold-webfont.svg#mullernarrow-extrabold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MullerNarrow-ExtraBoldItalic";
  src: url("Fonts/mullernarrow-extrabolditalic-webfont.eot");
  src: url("Fonts/mullernarrow-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/mullernarrow-extrabolditalic-webfont.woff") format("woff"), url("Fonts/mullernarrow-extrabolditalic-webfont.ttf") format("truetype"), url("Fonts/mullernarrow-extrabolditalic-webfont.svg#mullernarrow-extrabolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MullerNarrow-Light";
  src: url("Fonts/mullernarrow-light-webfont.eot");
  src: url("Fonts/mullernarrow-light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/mullernarrow-light-webfont.woff") format("woff"), url("Fonts/mullernarrow-light-webfont.ttf") format("truetype"), url("Fonts/mullernarrow-light-webfont.svg#mullernarrow-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MullerNarrow-LightItalic";
  src: url("Fonts/mullernarrow-lightitalic-webfont.eot");
  src: url("Fonts/mullernarrow-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/mullernarrow-lightitalic-webfont.woff") format("woff"), url("Fonts/mullernarrow-lightitalic-webfont.ttf") format("truetype"), url("Fonts/mullernarrow-lightitalic-webfont.svg#mullernarrow-lightitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PorterSansInlineBlock";
  src: url("Fonts/porter-sans-inline-block-webfont.eot");
  src: url("Fonts/porter-sans-inline-block-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/porter-sans-inline-block-webfont.woff") format("woff"), url("Fonts/porter-sans-inline-block-webfont.ttf") format("truetype"), url("Fonts/porter-sans-inline-block-webfont.svg#porter-sans-inline-block-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Rubik-Black";
  src: url("Fonts/rubik-black-webfont.eot");
  src: url("Fonts/rubik-black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/rubik-black-webfont.woff") format("woff"), url("Fonts/rubik-black-webfont.ttf") format("truetype"), url("Fonts/rubik-black-webfont.svg#rubik-black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SofadiOne";
  src: url("Fonts/sofadione-regular-webfont.eot");
  src: url("Fonts/sofadione-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/sofadione-regular-webfont.woff") format("woff"), url("Fonts/sofadione-regular-webfont.ttf") format("truetype"), url("Fonts/sofadione-regular-webfont.svg#sofadione-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Black";
  src: url("Fonts/titillium-black-webfont.eot");
  src: url("Fonts/titillium-black-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-black-webfont.woff") format("woff"), url("Fonts/titillium-black-webfont.ttf") format("truetype"), url("Fonts/titillium-black-webfont.svg#titillium-black-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Bold";
  src: url("Fonts/titillium-bold-webfont.eot");
  src: url("Fonts/titillium-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-bold-webfont.woff") format("woff"), url("Fonts/titillium-bold-webfont.ttf") format("truetype"), url("Fonts/titillium-bold-webfont.svg#titillium-bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-BoldItalic";
  src: url("Fonts/titillium-bolditalic-webfont.eot");
  src: url("Fonts/titillium-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-bolditalic-webfont.woff") format("woff"), url("Fonts/titillium-bolditalic-webfont.ttf") format("truetype"), url("Fonts/titillium-bolditalic-webfont.svg#titillium-bolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-BoldUpright";
  src: url("Fonts/titillium-boldupright-webfont.eot");
  src: url("Fonts/titillium-boldupright-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-boldupright-webfont.woff") format("woff"), url("Fonts/titillium-boldupright-webfont.ttf") format("truetype"), url("Fonts/titillium-boldupright-webfont.svg#titillium-boldupright-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Light";
  src: url("Fonts/titillium-light-webfont.eot");
  src: url("Fonts/titillium-light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-light-webfont.woff") format("woff"), url("Fonts/titillium-light-webfont.ttf") format("truetype"), url("Fonts/titillium-light-webfont.svg#titillium-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-LightItalic";
  src: url("Fonts/titillium-lightitalic-webfont.eot");
  src: url("Fonts/titillium-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-lightitalic-webfont.woff") format("woff"), url("Fonts/titillium-lightitalic-webfont.ttf") format("truetype"), url("Fonts/titillium-lightitalic-webfont.svg#titillium-lightitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-LightUpright";
  src: url("Fonts/titillium-lightupright-webfont.eot");
  src: url("Fonts/titillium-lightupright-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-lightupright-webfont.woff") format("woff"), url("Fonts/titillium-lightupright-webfont.ttf") format("truetype"), url("Fonts/titillium-lightupright-webfont.svg#titillium-lightupright-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Regular";
  src: url("Fonts/titillium-regular-webfont.eot");
  src: url("Fonts/titillium-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-regular-webfont.woff") format("woff"), url("Fonts/titillium-regular-webfont.ttf") format("truetype"), url("Fonts/titillium-regular-webfont.svg#titillium-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-RegularItalic";
  src: url("Fonts/titillium-regularitalic-webfont.eot");
  src: url("Fonts/titillium-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-regularitalic-webfont.woff") format("woff"), url("Fonts/titillium-regularitalic-webfont.ttf") format("truetype"), url("Fonts/titillium-regularitalic-webfont.svg#titillium-regularitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-RegularUpright";
  src: url("Fonts/titillium-regularupright-webfont.eot");
  src: url("Fonts/titillium-regularupright-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-regularupright-webfont.woff") format("woff"), url("Fonts/titillium-regularupright-webfont.ttf") format("truetype"), url("Fonts/titillium-regularupright-webfont.svg#titillium-regularupright-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Semibold";
  src: url("Fonts/titillium-semibold-webfont.eot");
  src: url("Fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-semibold-webfont.woff") format("woff"), url("Fonts/titillium-semibold-webfont.ttf") format("truetype"), url("Fonts/titillium-semibold-webfont.svg#titillium-semibold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-SemiboldItalic";
  src: url("Fonts/titillium-semibolditalic-webfont.eot");
  src: url("Fonts/titillium-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-semibolditalic-webfont.woff") format("woff"), url("Fonts/titillium-semibolditalic-webfont.ttf") format("truetype"), url("Fonts/titillium-semibolditalic-webfont.svg#titillium-semibolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-SemiboldUpright";
  src: url("Fonts/titillium-semiboldupright-webfont.eot");
  src: url("Fonts/titillium-semiboldupright-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-semiboldupright-webfont.woff") format("woff"), url("Fonts/titillium-semiboldupright-webfont.ttf") format("truetype"), url("Fonts/titillium-semiboldupright-webfont.svg#titillium-semiboldupright-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-Thin";
  src: url("Fonts/titillium-thin-webfont.eot");
  src: url("Fonts/titillium-thin-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-thin-webfont.woff") format("woff"), url("Fonts/titillium-thin-webfont.ttf") format("truetype"), url("Fonts/titillium-thin-webfont.svg#titillium-thin-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-ThinItalic";
  src: url("Fonts/titillium-thinitalic-webfont.eot");
  src: url("Fonts/titillium-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-thinitalic-webfont.woff") format("woff"), url("Fonts/titillium-thinitalic-webfont.ttf") format("truetype"), url("Fonts/titillium-thinitalic-webfont.svg#titillium-thinitalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Titillium-ThinUpright";
  src: url("Fonts/titillium-thinupright-webfont.eot");
  src: url("Fonts/titillium-thinupright-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/titillium-thinupright-webfont.woff") format("woff"), url("Fonts/titillium-thinupright-webfont.ttf") format("truetype"), url("Fonts/titillium-thinupright-webfont.svg#titillium-thinupright-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Tracion";
  src: url("Fonts/tracion-normal-webfont.eot");
  src: url("Fonts/tracion-normal-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/tracion-normal-webfont.woff") format("woff"), url("Fonts/tracion-normal-webfont.ttf") format("truetype"), url("Fonts/tracion-normal-webfont.svg#tracion-normal-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url("Fonts/ubuntu-r-webfont.eot");
  src: url("Fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-r-webfont.woff") format("woff"), url("Fonts/ubuntu-r-webfont.ttf") format("truetype"), url("Fonts/ubuntu-r-webfont.svg#ubuntu-r-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("Fonts/ubuntu-b-webfont.eot");
  src: url("Fonts/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-b-webfont.woff") format("woff"), url("Fonts/ubuntu-b-webfont.ttf") format("truetype"), url("Fonts/ubuntu-b-webfont.svg#ubuntu-b-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-BoldItalic";
  src: url("Fonts/ubuntu-bi-webfont.eot");
  src: url("Fonts/ubuntu-bi-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-bi-webfont.woff") format("woff"), url("Fonts/ubuntu-bi-webfont.ttf") format("truetype"), url("Fonts/ubuntu-bi-webfont.svg#ubuntu-bi-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Condensed";
  src: url("Fonts/ubuntu-c-webfont.eot");
  src: url("Fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-c-webfont.woff") format("woff"), url("Fonts/ubuntu-c-webfont.ttf") format("truetype"), url("Fonts/ubuntu-c-webfont.svg#ubuntu-c-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Italic";
  src: url("Fonts/ubuntu-ri-webfont.eot");
  src: url("Fonts/ubuntu-ri-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-ri-webfont.woff") format("woff"), url("Fonts/ubuntu-ri-webfont.ttf") format("truetype"), url("Fonts/ubuntu-ri-webfont.svg#ubuntu-ri-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Light";
  src: url("Fonts/ubuntu-l-webfont.eot");
  src: url("Fonts/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-l-webfont.woff") format("woff"), url("Fonts/ubuntu-l-webfont.ttf") format("truetype"), url("Fonts/ubuntu-l-webfont.svg#ubuntu-l-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url("Fonts/ubuntu-li-webfont.eot");
  src: url("Fonts/ubuntu-li-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-li-webfont.woff") format("woff"), url("Fonts/ubuntu-li-webfont.ttf") format("truetype"), url("Fonts/ubuntu-li-webfont.svg#ubuntu-li-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("Fonts/ubuntu-m-webfont.eot");
  src: url("Fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-m-webfont.woff") format("woff"), url("Fonts/ubuntu-m-webfont.ttf") format("truetype"), url("Fonts/ubuntu-m-webfont.svg#ubuntu-m-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url("Fonts/ubuntu-mi-webfont.eot");
  src: url("Fonts/ubuntu-mi-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/ubuntu-mi-webfont.woff") format("woff"), url("Fonts/ubuntu-mi-webfont.ttf") format("truetype"), url("Fonts/ubuntu-mi-webfont.svg#ubuntu-mi-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "YeahPapa";
  src: url("Fonts/yeahpapa-webfont.eot");
  src: url("Fonts/yeahpapa-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/yeahpapa-webfont.woff") format("woff"), url("Fonts/yeahpapa-webfont.ttf") format("truetype"), url("Fonts/yeahpapa-webfont.svg#yeahpapa-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Shortcut";
  src: url("Fonts/shortcut-webfont.eot");
  src: url("Fonts/shortcut-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/shortcut-webfont.woff") format("woff"), url("Fonts/shortcut-webfont.ttf") format("truetype"), url("Fonts/shortcut-webfont.svg#shortcut-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "AlfaSlabOne";
  src: url("Fonts/alfaslabone-regular-webfont.eot");
  src: url("Fonts/alfaslabone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/alfaslabone-regular-webfont.woff") format("woff"), url("Fonts/alfaslabone-regular-webfont.ttf") format("truetype"), url("Fonts/alfaslabone-regular-webfont.svg#alfaslabone-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "DayPosterBlack";
  src: url("Fonts/daypbl__-webfont.eot");
  src: url("Fonts/daypbl__-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/daypbl__-webfont.woff") format("woff"), url("Fonts/daypbl__-webfont.ttf") format("truetype"), url("Fonts/daypbl__-webfont.svg#daypbl__-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PonsRoundedSlab";
  src: url("Fonts/PonsRoundedSlab-Regular-webfont.eot");
  src: url("Fonts/PonsRoundedSlab-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/PonsRoundedSlab-Regular-webfont.woff") format("woff"), url("Fonts/PonsRoundedSlab-Regular-webfont.ttf") format("truetype"), url("Fonts/PonsRoundedSlab-Regular-webfont.svg#PonsRoundedSlab-Regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlab";
  src: url("Fonts/robotoslab-regular-webfont.eot");
  src: url("Fonts/robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/robotoslab-regular-webfont.woff") format("woff"), url("Fonts/robotoslab-regular-webfont.ttf") format("truetype"), url("Fonts/robotoslab-regular-webfont.svg#robotoslab-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("Fonts/robotoslab-bold-webfont.eot");
  src: url("Fonts/robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/robotoslab-bold-webfont.woff") format("woff"), url("Fonts/robotoslab-bold-webfont.ttf") format("truetype"), url("Fonts/robotoslab-bold-webfont.svg#robotoslab-bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlab-Light";
  src: url("Fonts/robotoslab-light-webfont.eot");
  src: url("Fonts/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/robotoslab-light-webfont.woff") format("woff"), url("Fonts/robotoslab-light-webfont.ttf") format("truetype"), url("Fonts/robotoslab-light-webfont.svg#robotoslab-light-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("Fonts/robotoslab-thin-webfont.eot");
  src: url("Fonts/robotoslab-thin-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/robotoslab-thin-webfont.woff") format("woff"), url("Fonts/robotoslab-thin-webfont.ttf") format("truetype"), url("Fonts/robotoslab-thin-webfont.svg#robotoslab-thin-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "TrumpTown";
  src: url("Fonts/trump_town_pro-webfont.eot");
  src: url("Fonts/trump_town_pro-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/trump_town_pro-webfont.woff") format("woff"), url("Fonts/trump_town_pro-webfont.ttf") format("truetype"), url("Fonts/trump_town_pro-webfont.svg#trump_town_pro-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Bitter";
  src: url("Fonts/bitter-regular-webfont.eot");
  src: url("Fonts/bitter-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/bitter-regular-webfont.woff") format("woff"), url("Fonts/bitter-regular-webfont.ttf") format("truetype"), url("Fonts/bitter-regular-webfont.svg#bitter-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BitterBold";
  src: url("Fonts/bitter-bold-webfont.eot");
  src: url("Fonts/bitter-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/bitter-bold-webfont.woff") format("woff"), url("Fonts/bitter-bold-webfont.ttf") format("truetype"), url("Fonts/bitter-bold-webfont.svg#bitter-bold-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BitterBoldItalic";
  src: url("Fonts/bitter-bolditalic-webfont.eot");
  src: url("Fonts/bitter-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/bitter-bolditalic-webfont.woff") format("woff"), url("Fonts/bitter-bolditalic-webfont.ttf") format("truetype"), url("Fonts/bitter-bolditalic-webfont.svg#bitter-bolditalic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BitterItalic";
  src: url("Fonts/bitter-italic-webfont.eot");
  src: url("Fonts/bitter-italic-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/bitter-italic-webfont.woff") format("woff"), url("Fonts/bitter-italic-webfont.ttf") format("truetype"), url("Fonts/bitter-italic-webfont.svg#bitter-italic-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Calligraffitti";
  src: url("Fonts/calligraffitti-regular-webfont.eot");
  src: url("Fonts/calligraffitti-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/calligraffitti-regular-webfont.woff") format("woff"), url("Fonts/calligraffitti-regular-webfont.ttf") format("truetype"), url("Fonts/calligraffitti-regular-webfont.svg#calligraffitti-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Courgette";
  src: url("Fonts/courgette-regular-webfont.eot");
  src: url("Fonts/courgette-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/courgette-regular-webfont.woff") format("woff"), url("Fonts/courgette-regular-webfont.ttf") format("truetype"), url("Fonts/courgette-regular-webfont.svg#courgette-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "CroissantOne";
  src: url("Fonts/croissantone-regular-webfont.eot");
  src: url("Fonts/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/croissantone-regular-webfont.woff") format("woff"), url("Fonts/croissantone-regular-webfont.ttf") format("truetype"), url("Fonts/croissantone-regular-webfont.svg#croissantone-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SansitaOne";
  src: url("Fonts/sansitaone-webfont.eot");
  src: url("Fonts/sansitaone-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/sansitaone-webfont.woff") format("woff"), url("Fonts/sansitaone-webfont.ttf") format("truetype"), url("Fonts/sansitaone-webfont.svg#sansitaone-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SonsieOne";
  src: url("Fonts/sonsieone-regular-webfont.eot");
  src: url("Fonts/sonsieone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/sonsieone-regular-webfont.woff") format("woff"), url("Fonts/sonsieone-regular-webfont.ttf") format("truetype"), url("Fonts/sonsieone-regular-webfont.svg#sonsieone-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "AlexBrush";
  src: url("Fonts/alexbrush-regular-webfont.eot");
  src: url("Fonts/alexbrush-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/alexbrush-regular-webfont.woff") format("woff"), url("Fonts/alexbrush-regular-webfont.ttf") format("truetype"), url("Fonts/alexbrush-regular-webfont.svg#alexbrush-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Allura";
  src: url("Fonts/allura-regular-webfont.eot");
  src: url("Fonts/allura-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/allura-regular-webfont.woff") format("woff"), url("Fonts/allura-regular-webfont.ttf") format("truetype"), url("Fonts/allura-regular-webfont.svg#allura-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Arizonia";
  src: url("Fonts/arizonia-regular-webfont.eot");
  src: url("Fonts/arizonia-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/arizonia-regular-webfont.woff") format("woff"), url("Fonts/arizonia-regular-webfont.ttf") format("truetype"), url("Fonts/arizonia-regular-webfont.svg#arizonia-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BlackJack";
  src: url("Fonts/blackjack-webfont.eot");
  src: url("Fonts/blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/blackjack-webfont.woff") format("woff"), url("Fonts/blackjack-webfont.ttf") format("truetype"), url("Fonts/blackjack-webfont.svg#blackjack-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Desyrel";
  src: url("Fonts/desyrel-webfont.eot");
  src: url("Fonts/desyrel-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/desyrel-webfont.woff") format("woff"), url("Fonts/desyrel-webfont.ttf") format("truetype"), url("Fonts/desyrel-webfont.svg#desyrel-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Fabfelt";
  src: url("Fonts/fabfeltscript-bold.eot");
  src: url("Fonts/fabfeltscript-bold.eot?#iefix") format("embedded-opentype"), url("Fonts/fabfeltscript-bold.woff") format("woff"), url("Fonts/fabfeltscript-bold.ttf") format("truetype"), url("Fonts/fabfeltscript-bold.svg#fabfeltscript-bold") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Hamster";
  src: url("Fonts/hamster-webfont.eot");
  src: url("Fonts/hamster-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/hamster-webfont.woff") format("woff"), url("Fonts/hamster-webfont.ttf") format("truetype"), url("Fonts/hamster-webfont.svg#hamster-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "HarabaraHand";
  src: url("Fonts/HarabaraHand-webfont.eot");
  src: url("Fonts/HarabaraHand-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/HarabaraHand-webfont.woff") format("woff"), url("Fonts/HarabaraHand-webfont.ttf") format("truetype"), url("Fonts/HarabaraHand-webfont.svg#HarabaraHand-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "JD";
  src: url("Fonts/j.d-webfont.eot");
  src: url("Fonts/j.d-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/j.d-webfont.woff") format("woff"), url("Fonts/j.d-webfont.ttf") format("truetype"), url("Fonts/j.d-webfont.svg#j.d-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Journal";
  src: url("Fonts/journal-webfont.eot");
  src: url("Fonts/journal-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/journal-webfont.woff") format("woff"), url("Fonts/journal-webfont.ttf") format("truetype"), url("Fonts/journal-webfont.svg#journal-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kalam";
  src: url("Fonts/Kalam-Regular.eot");
  src: url("Fonts/Kalam-Regular.eot?#iefix") format("embedded-opentype"), url("Fonts/Kalam-Regular.woff") format("woff"), url("Fonts/Kalam-Regular.ttf") format("truetype"), url("Fonts/Kalam-Regular.svg#Kalam-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kalam-Bold";
  src: url("Fonts/Kalam-Bold.eot");
  src: url("Fonts/Kalam-Bold.eot?#iefix") format("embedded-opentype"), url("Fonts/Kalam-Bold.woff") format("woff"), url("Fonts/Kalam-Bold.ttf") format("truetype"), url("Fonts/Kalam-Bold.svg#Kalam-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kalam-Light";
  src: url("Fonts/Kalam-Light.eot");
  src: url("Fonts/Kalam-Light.eot?#iefix") format("embedded-opentype"), url("Fonts/Kalam-Light.woff") format("woff"), url("Fonts/Kalam-Light.ttf") format("truetype"), url("Fonts/Kalam-Light.svg#Kalam-Light") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Kaushan";
  src: url("Fonts/kaushanscript-regular-webfont.eot");
  src: url("Fonts/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/kaushanscript-regular-webfont.woff") format("woff"), url("Fonts/kaushanscript-regular-webfont.ttf") format("truetype"), url("Fonts/kaushanscript-regular-webfont.svg#kaushanscript-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ManoNegra";
  src: url("Fonts/WCManoNegraBta-webfont.eot");
  src: url("Fonts/WCManoNegraBta-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/WCManoNegraBta-webfont.woff") format("woff"), url("Fonts/WCManoNegraBta-webfont.ttf") format("truetype"), url("Fonts/WCManoNegraBta-webfont.svg#WCManoNegraBta-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ManoNegra-Bold";
  src: url("Fonts/WCManoNegraBoldBta-webfont.eot");
  src: url("Fonts/WCManoNegraBoldBta-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/WCManoNegraBoldBta-webfont.woff") format("woff"), url("Fonts/WCManoNegraBoldBta-webfont.ttf") format("truetype"), url("Fonts/WCManoNegraBoldBta-webfont.svg#WCManoNegraBoldBta-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Montez-Regular";
  src: url("Fonts/Montez-Regular-webfont.eot");
  src: url("Fonts/Montez-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Montez-Regular-webfont.woff") format("woff"), url("Fonts/Montez-Regular-webfont.ttf") format("truetype"), url("Fonts/Montez-Regular-webfont.svg#Montez-Regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "NoteThis";
  src: url("Fonts/Note_this-webfont.eot");
  src: url("Fonts/Note_this-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Note_this-webfont.woff") format("woff"), url("Fonts/Note_this-webfont.ttf") format("truetype"), url("Fonts/Note_this-webfont.svg#Note_this-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "NothingYouCouldDo";
  src: url("Fonts/nothingyoucoulddo-webfont.eot");
  src: url("Fonts/nothingyoucoulddo-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/nothingyoucoulddo-webfont.woff") format("woff"), url("Fonts/nothingyoucoulddo-webfont.ttf") format("truetype"), url("Fonts/nothingyoucoulddo-webfont.svg#nothingyoucoulddo-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PaulMaul";
  src: url("Fonts/!PaulMaul-webfont.eot");
  src: url("Fonts/!PaulMaul-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/!PaulMaul-webfont.woff") format("woff"), url("Fonts/!PaulMaul-webfont.ttf") format("truetype"), url("Fonts/!PaulMaul-webfont.svg#!PaulMaul-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PaulMaul-Bold";
  src: url("Fonts/!PaulMaul-b-webfont.eot");
  src: url("Fonts/!PaulMaul-b-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/!PaulMaul-b-webfont.woff") format("woff"), url("Fonts/!PaulMaul-b-webfont.ttf") format("truetype"), url("Fonts/!PaulMaul-b-webfont.svg#!PaulMaul-b-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RockSalt";
  src: url("Fonts/RockSalt-webfont.eot");
  src: url("Fonts/RockSalt-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/RockSalt-webfont.woff") format("woff"), url("Fonts/RockSalt-webfont.ttf") format("truetype"), url("Fonts/RockSalt-webfont.svg#RockSalt-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "TommyLee";
  src: url("Fonts/tommy_lee-webfont.eot");
  src: url("Fonts/tommy_lee-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/tommy_lee-webfont.woff") format("woff"), url("Fonts/tommy_lee-webfont.ttf") format("truetype"), url("Fonts/tommy_lee-webfont.svg#tommy_lee-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Vanderful";
  src: url("Fonts/vanderful-webfont.eot");
  src: url("Fonts/vanderful-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/vanderful-webfont.woff") format("woff"), url("Fonts/vanderful-webfont.ttf") format("truetype"), url("Fonts/vanderful-webfont.svg#vanderful-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "CarbonType";
  src: url("Fonts/carbontype-webfont.eot");
  src: url("Fonts/carbontype-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/carbontype-webfont.woff") format("woff"), url("Fonts/carbontype-webfont.ttf") format("truetype"), url("Fonts/carbontype-webfont.svg#carbontype-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Plexifont";
  src: url("Fonts/plexifont-webfont.eot");
  src: url("Fonts/plexifont-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/plexifont-webfont.woff") format("woff"), url("Fonts/plexifont-webfont.ttf") format("truetype"), url("Fonts/plexifont-webfont.svg#plexifont-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Carrington";
  src: url("Fonts/carrington-webfont.eot");
  src: url("Fonts/carrington-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/carrington-webfont.woff") format("woff"), url("Fonts/carrington-webfont.ttf") format("truetype"), url("Fonts/carrington-webfont.svg#carrington-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Deutsch";
  src: url("Fonts/Deutsch-webfont.eot");
  src: url("Fonts/Deutsch-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Deutsch-webfont.woff") format("woff"), url("Fonts/Deutsch-webfont.ttf") format("truetype"), url("Fonts/Deutsch-webfont.svg#Deutsch-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GoldsmithVintage";
  src: url("Fonts/the_goldsmith_vintage-webfont.eot");
  src: url("Fonts/the_goldsmith_vintage-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/the_goldsmith_vintage-webfont.woff") format("woff"), url("Fonts/the_goldsmith_vintage-webfont.ttf") format("truetype"), url("Fonts/the_goldsmith_vintage-webfont.svg#the_goldsmith_vintage-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Porcelain";
  src: url("Fonts/porcelain-webfont.eot");
  src: url("Fonts/porcelain-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/porcelain-webfont.woff") format("woff"), url("Fonts/porcelain-webfont.ttf") format("truetype"), url("Fonts/porcelain-webfont.svg#porcelain-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Rothenburg";
  src: url("Fonts/rothenburg-webfont.eot");
  src: url("Fonts/rothenburg-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/rothenburg-webfont.woff") format("woff"), url("Fonts/rothenburg-webfont.ttf") format("truetype"), url("Fonts/rothenburg-webfont.svg#rothenburg-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Sail";
  src: url("Fonts/sail-regular-webfont.eot");
  src: url("Fonts/sail-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/sail-regular-webfont.woff") format("woff"), url("Fonts/sail-regular-webfont.ttf") format("truetype"), url("Fonts/sail-regular-webfont.svg#sail-regular-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Selfish";
  src: url("Fonts/selfish-webfont.eot");
  src: url("Fonts/selfish-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/selfish-webfont.woff") format("woff"), url("Fonts/selfish-webfont.ttf") format("truetype"), url("Fonts/selfish-webfont.svg#selfish-webfont") format("svg");
  font-style: normal;
  font-weight: normal; }
/* http://www.cssfilters.co/ */
/* https://designpieces.com/2014/09/instagram-filters-css3-effects/ */
.nj-image-filter.nj-image-filter--1977 {
  -webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  filter: contrast(110%) brightness(110%) saturate(130%); }
  .nj-image-filter.nj-image-filter--1977:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3); }
.nj-image-filter.nj-image-filter--aden {
  -webkit-filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg);
  filter: contrast(90%) brightness(120%) saturate(85%) hue-rotate(20deg); }
.nj-image-filter.nj-image-filter--amaro {
  -webkit-filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5); }
.nj-image-filter.nj-image-filter--brannan {
  -webkit-filter: sepia(0.5) contrast(1.4);
  filter: sepia(0.5) contrast(1.4); }
.nj-image-filter.nj-image-filter--brooklyn {
  -webkit-filter: contrast(90%) brightness(110%);
  filter: contrast(90%) brightness(110%); }
  .nj-image-filter.nj-image-filter--brooklyn:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: overlay;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 0%, rgba(183, 196, 200, 0.2) 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 0%, rgba(183, 196, 200, 0.2) 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 0%, rgba(183, 196, 200, 0.2) 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 0%, rgba(183, 196, 200, 0.2) 100%);
    background: radial-gradient(50% 50%, circle closest-corner, rgba(168, 223, 193, 0.4) 0%, rgba(183, 196, 200, 0.2) 100%);
    background-color: rgba(168, 223, 193, 0.4); }
.nj-image-filter.nj-image-filter--darken {
  -webkit-filter: contrast(120%) brightness(80%) grayscale(25%);
  filter: contrast(120%) brightness(80%) grayscale(25%); }
  .nj-image-filter.nj-image-filter--darken:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    /* IE 5-7 */
    filter: alpha(opacity=35);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    /* Netscape */
    -moz-opacity: 0.35;
    /* Safari 1.x */
    -khtml-opacity: 0.35;
    /* Good browsers */
    opacity: 0.35;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.25) 10%, rgba(70, 70, 70, 0) 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.25) 10%, rgba(70, 70, 70, 0) 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.25) 10%, rgba(70, 70, 70, 0) 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.25) 10%, rgba(70, 70, 70, 0) 100%);
    background: radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.25) 10%, rgba(70, 70, 70, 0) 100%);
    background-color: rgba(0, 0, 0, 0.25); }
.nj-image-filter.nj-image-filter--earlybird {
  -webkit-filter: contrast(90%) sepia(20%);
  filter: contrast(90%) sepia(20%); }
  .nj-image-filter.nj-image-filter--earlybird:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: overlay;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, #d0ba8e 20%, rgba(29, 2, 16, 0.2) 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, #d0ba8e 20%, rgba(29, 2, 16, 0.2) 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, #d0ba8e 20%, rgba(29, 2, 16, 0.2) 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, #d0ba8e 20%, rgba(29, 2, 16, 0.2) 100%);
    background: radial-gradient(50% 50%, circle closest-corner, #d0ba8e 20%, rgba(29, 2, 16, 0.2) 100%);
    background-color: #d0ba8e; }
.nj-image-filter.nj-image-filter--gingham {
  -webkit-filter: brightness(105%) hue-rotate(350deg);
  filter: brightness(105%) hue-rotate(350deg); }
.nj-image-filter.nj-image-filter--hefe {
  -webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
  filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95); }
.nj-image-filter.nj-image-filter--hudson {
  -webkit-filter: contrast(90%) brightness(120%) saturate(110%);
  filter: contrast(90%) brightness(120%) saturate(110%); }
  .nj-image-filter.nj-image-filter--hudson:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, #ffb1a6 50%, #342134 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, #ffb1a6 50%, #342134 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, #ffb1a6 50%, #342134 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, #ffb1a6 50%, #342134 100%);
    background: radial-gradient(50% 50%, circle closest-corner, #ffb1a6 50%, #342134 100%);
    background-color: #ffb1a6; }
.nj-image-filter.nj-image-filter--inkwell {
  -webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%); }
.nj-image-filter.nj-image-filter--kelvin {
  -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
  filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1); }
.nj-image-filter.nj-image-filter--lofi {
  -webkit-filter: contrast(150%) saturate(110%) sephia(5%);
  filter: contrast(150%) saturate(110%) sephia(5%); }
  .nj-image-filter.nj-image-filter--lofi:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
    background: radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
    background-color: transparent; }
.nj-image-filter.nj-image-filter--mayfair {
  -webkit-filter: saturate(1.4) contrast(1.1);
  filter: saturate(1.4) contrast(1.1); }
.nj-image-filter.nj-image-filter--nashville {
  -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
  filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg); }
.nj-image-filter.nj-image-filter--perpetua:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: soft-light;
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
  background: -moz-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
  background: -webkit-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
  background: -o-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
  background: -ms-radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
  background: radial-gradient(50% 50%, circle closest-corner, transparent 70%, #222222 100%);
  background-color: transparent; }
.nj-image-filter.nj-image-filter--reyes {
  -webkit-filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%);
  filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%); }
  .nj-image-filter.nj-image-filter--reyes:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: soft-light;
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background: #adcdef; }
.nj-image-filter.nj-image-filter--rise {
  -webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
  filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1); }
.nj-image-filter.nj-image-filter--sierra {
  -webkit-filter: contrast(0.8) saturate(1.2) sepia(0.15);
  filter: contrast(0.8) saturate(1.2) sepia(0.15); }
.nj-image-filter.nj-image-filter--sutro {
  -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
  filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg); }
.nj-image-filter.nj-image-filter--toaster {
  -webkit-filter: contrast(150%) brightness(90%);
  filter: contrast(150%) brightness(90%); }
  .nj-image-filter.nj-image-filter--toaster:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: screen;
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, #0f4e80 100%, #3b003b 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, #0f4e80 100%, #3b003b 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, #0f4e80 100%, #3b003b 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, #0f4e80 100%, #3b003b 100%);
    background: radial-gradient(50% 50%, circle closest-corner, #0f4e80 100%, #3b003b 100%);
    background-color: #0f4e80; }
.nj-image-filter.nj-image-filter--valencia {
  -webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
  filter: sepia(0.15) saturate(1.5) contrast(0.9); }
.nj-image-filter.nj-image-filter--walden {
  -webkit-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
  filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg); }
  .nj-image-filter.nj-image-filter--walden:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: screen;
    /* IE 5-7 */
    filter: alpha(opacity=30);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /* Netscape */
    -moz-opacity: 0.3;
    /* Safari 1.x */
    -khtml-opacity: 0.3;
    /* Good browsers */
    opacity: 0.3;
    background: #cc4400; }
.nj-image-filter.nj-image-filter--willow {
  -webkit-filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
  filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02); }
.nj-image-filter.nj-image-filter--xpro2 {
  -webkit-filter: sepia(30%);
  filter: sepia(30%); }
  .nj-image-filter.nj-image-filter--xpro2:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: color-burn;
    /* IE 5-7 */
    filter: alpha(opacity=40);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* Netscape */
    -moz-opacity: 0.4;
    /* Safari 1.x */
    -khtml-opacity: 0.4;
    /* Good browsers */
    opacity: 0.4;
    background: -moz-radial-gradient(50% 50%, circle closest-corner, #e0e7e6 40%, rgba(43, 42, 161, 0.6) 100%);
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, #e0e7e6 40%, rgba(43, 42, 161, 0.6) 100%);
    background: -o-radial-gradient(50% 50%, circle closest-corner, #e0e7e6 40%, rgba(43, 42, 161, 0.6) 100%);
    background: -ms-radial-gradient(50% 50%, circle closest-corner, #e0e7e6 40%, rgba(43, 42, 161, 0.6) 100%);
    background: radial-gradient(50% 50%, circle closest-corner, #e0e7e6 40%, rgba(43, 42, 161, 0.6) 100%);
    background-color: #e0e7e6; }

nav.hover.hover--rotateX360 A {
  display: block; }
  nav.hover.hover--rotateX360 A:hover {
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg); }

/* Shutter Out Horizontal */
/* Bounce To Right */
/* Underline From Center */
/* Underline From Left */
html {
  height: 100%;
  width: 100%;
  /* sets the base font to 10px for easier math */
  font-size: 62.5%; }
  html body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-size: 1.6rem; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  nav ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  nav ul li {
    float: left; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.nj-flex[data-direction="text-right-image-left"] .nj-flex-item.nj-textimage--bodytext .nj-wrap-table-cell {
  text-align: left; }

.nj-wrap-table {
  width: 100%;
  height: 100%;
  display: table; }
  .nj-wrap-table .nj-wrap-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle; }

.nj-ul-no-bullets {
  list-style: none;
  margin: 0;
  bottom: 0;
  padding: 0; }
  .nj-ul-no-bullets ul, .nj-ul-no-bullets li {
    list-style: none;
    margin: 0;
    bottom: 0;
    padding: 0; }

body > .overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.85); }

.nj-background-image {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1; }

.ce * {
  border-color: black; }

.ce[data-color-sheme] {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.ce .ce-bodytext {
  line-height: 1.75; }

main h2 {
  margin-top: 0; }
main h3 {
  margin-top: 0; }
main h4 {
  margin-top: 0; }
main h5 {
  margin-top: 0; }
main h6 {
  margin-top: 0; }

[data-ctype="nj_maps"] .nj-googlemaps {
  width: 100%;
  height: 100%; }

[data-ctype="nj_textimage"] .nj-textimage--image {
  background-position: center center;
  background-size: cover; }

.nj-form .form-control:focus {
  border: 1px solid rgba(0, 174, 239, 0.75);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 174, 239, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 174, 239, 0.75); }

.nj-button {
  cursor: pointer;
  text-transform: uppercase; }
  .nj-button.nj-button--icon {
    max-height: 50px;
    max-width: 50px; }
    .nj-button.nj-button--icon[data-task] {
      cursor: pointer; }
  .nj-button.nj-button--booking {
    display: inline-block;
    padding: 9px 15px;
    border: 1px solid #2a2a2a; }
  .nj-button.nj-button--form {
    line-height: 1;
    padding: 9px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1; }
    .nj-button.nj-button--form[disabled] {
      cursor: default;
      /* IE 5-7 */
      filter: alpha(opacity=50);
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      /* Netscape */
      -moz-opacity: 0.5;
      /* Safari 1.x */
      -khtml-opacity: 0.5;
      /* Good browsers */
      opacity: 0.5; }

/*# sourceMappingURL=frontend.css.map */
