@import '../Configuration/functions.scss';
@import '../Configuration/variables.scss';
@import '../Configuration/breakpoints.scss';
@import '../Configuration/mixins.scss';
@import '../Configuration/normalize.scss';
@import '../Configuration/properties.scss';
@import '../Configuration/flexbox.scss';
@import '../Configuration/fonts.scss';
@import '../Effects/image_filter.scss';
@import '../Effects/hover.scss';
@import '../Effects/effects.scss';
html {
	@include dimension-100-percent;
	/* sets the base font to 10px for easier math */
	font-size: 62.5%;

	body {
		@include dimension-100-percent;
		@include rem(font-size,16px);
	}
}


nav {
	ul {
		@include clearfix;
		list-style: none;
		padding: 0;
		margin: 0;
		
		li {
			float: left;			
		}
	}
}




.ce.nj-base {
	&[data-ctype="nj_textimage"] {
		.nj-flex {
			.nj-flex-item {
				
			}
		}
	}
}

.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}


.nj-flex {
	&[data-direction="text-right-image-left"] {
		.nj-flex-item {
			&.nj-textimage--bodytext {
				.nj-wrap-table-cell {
					text-align: left;
				}
			}
		}
	}
}

.nj-wrap-table {
	width: 100%;
	height: 100%;
	display: table;
	
	.nj-wrap-table-cell {
		display: table-cell;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
	}
} 

.nj-ul-no-bullets {
	@include ul-list-style-none;
	ul, li {
		@include ul-list-style-none;
	} 
}

body > .overlay {
	@include overlay();
}


@import '../Utilities/background.scss';

@import '../ContentElements/nj_default.scss';
@import '../ContentElements/nj_maps.scss';
@import '../ContentElements/nj_textimage.scss';

@import '../Elements/nj_form.scss';
@import '../Elements/nj_button.scss';