{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<f:comment>
      nj_direction_next => 'toLeft' (6 chars)
      nj_direction_prev => 'toLeft' (6 chars)
	</f:comment>
	<div class="nj-slider" data-slider="{data.nj_version}">
		<f:render section="slider-rhinoSlider" arguments="{_all}" />
	</div>
</f:section>

<f:section name="slider-rhinoSlider">
	
	<div class="slider-container" 
		data-autoplay="{data.nj_autoplay}" 
		data-effect="{data.nj_effect}" 
		data-easing="{data.nj_easing}"
		data-pause-on-hover="{data.nj_pause_on_hover}"
		data-time-effect="{data.nj_time_effect}"
		data-time-show="{data.nj_time_show}">
		<f:if condition="{slides}">
			<f:for each="{slides}" as="slide" iteration="i">
				<div class="slide" data-slide="{i.cycle}">
					<div class="nj-wrap-table">
						<div class="nj-wrap-table-cell">
							<div class="nj-title">
								<h2>{slide.title}</h2>
								<f:if condition="{slide.subtitle}">
									<div class="subtitle">{slide.subtitle}</div>
								</f:if>
							</div>
							<f:if condition="{slide.content}">
								<div class="nj-content"><f:format.html parseFuncTSPath="lib.parseFunc_RTE">{slide.content}</f:format.html></div>
							</f:if>
						</div>
					</div>
				</div>
			</f:for>
			<njbs:slider.css slides="{slides}"></njbs:slider.css>
		</f:if>
	</div>
</f:section>

<f:section name="slider-slippry">
	
</f:section>