{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<div class="nj-wrap-table">
		<div class="nj-wrap-table-cell">
			<f:render partial="Header" arguments="{data:data}" />
			<f:render partial="Text" arguments="{data:data}" />
		</div>
	</div>
<f:if condition="{data.nj_image_filter_enable}">
	<f:then>
		<f:render section="background-image" arguments="{data:data}" />
		<njbs:image.background image="{image}" css-selector='[data-ctype="nj_hero"][data-uid="{data.uid}"] .nj-image-filter'></njbs:image.background>
	</f:then>
	<f:else>
		<njbs:image.background image="{image}" css-selector='[data-ctype="nj_hero"][data-uid="{data.uid}"]'></njbs:image.background>
	</f:else>
</f:if>
<f:render partial="Filter/Image" arguments="{data:data}" />
</f:section>

<f:section name="element-bodytext">
	<div class="nj-wrap-table">
		<div class="nj-wrap-table-cell">
			<div class="ce-title">
				<f:debug>{_all}</f:debug>
				<h1>{data.header}</h1>
				<f:if condition="{data.subheader}">
					<div class="subheader">{data.subheader}</div>
				</f:if>
			</div>
			<div class="ce-bodytext">
				<f:format.raw>{data.bodytext}</f:format.raw>
			</div>
		</div>
	</div>
</f:section>

<f:section name="background-image">
	<div class="nj-background-image nj-image-filter nj-image-filter--{data.nj_image_filter}"></div>
</f:section>