{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<f:render partial="Header" arguments="{data:data}" />
	<div class="ce-list">
		<f:if condition="{icons}">
			<f:for each="{icons}" as="category" key="key" iteration="icategory">
				<div class="category">
					<div class="title">{key}</div>
					<div class="overview-list row">
						<f:for each="{category}" as="icon" iteration="iicon">
							<div class="col-sm-3 col-xl-2 col-xs-4 col-md-2">
								<f:format.raw>{icon.svgInline}</f:format.raw>
							</div>
						</f:for>
					</div>
				</div>
			</f:for>
		</f:if>
	</div>
</f:section>