{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<div id="map{data.uid}" class="nj-googlemaps"
		data-gm-api-key="{data.nj_gm_api_key}"
		data-uid="{data.uid}"
		data-map-data="{njbs:googlemaps.markerJson(marker:marker)}"></div>
</f:section>