{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<f:switch expression="{data.layout}">
		<f:case value="1">
			<f:alias map="{text-align:'left',direction:'text-right-image-left'}">
				<f:render section="2-cols-text-image" arguments="{_all}" />
			</f:alias>
		</f:case>
		<f:case value="2">
			<f:render section="1-col-text-front-image-background" arguments="{_all}" />
		</f:case>
		<f:case value="3">

		</f:case>
		<f:case value="4">

		</f:case>
		<f:case default="TRUE">
			<f:alias map="{text-align:'right',direction:'text-left-image-right'}">
			<f:render section="2-cols-text-image" arguments="{_all}" />
			</f:alias>
		</f:case>
	</f:switch>
	<njbs:image.background image="{image}" css-selector='[data-ctype="nj_textimage"][data-uid="{data.uid}"] .nj-flex-item.nj-textimage--image'></njbs:image.background>
</f:section>

<f:section name="2-cols-text-image">
	<div class="nj-flex"
		 data-animation="{data.nj_animation}"
		 data-animate-css="{data.nj_animation_enable}"
		 data-direction="{direction}"
		 data-flex-align-content="stretch"
		 data-flex-align-items="center"
		 data-flex-rows="2"
	>
		<div class="nj-flex-item nj-textimage--bodytext">
			<f:render section="element-bodytext" arguments="{_all}" />
		</div>
		<div class="nj-flex-item nj-textimage--image" data-uid="{data.uid}"></div>
	</div>
</f:section>

<f:section name="1-col-text-front-image-background">
	<div class="nj-wrap-table">
		<div class="nj-wrap-table-cell">
			<f:render partial="Header" arguments="{data:data}" />
			<f:render partial="Text" arguments="{data:data}" />
		</div>
	</div>
	<f:if condition="{data.nj_image_filter_enable}">
		<f:then>
			<f:render section="background-image" arguments="{data:data}" />
			<njbs:image.background image="{image}" css-selector='[data-ctype="nj_textimage"][data-uid="{data.uid}"] .nj-image-filter'></njbs:image.background>
		</f:then>
		<f:else>
			<njbs:image.background image="{image}" css-selector='[data-ctype="nj_textimage"][data-uid="{data.uid}"]'></njbs:image.background>
		</f:else>
	</f:if>
	<f:render partial="Filter/Image" arguments="{data:data}" />
</f:section>

<f:section name="element-bodytext">
	<div class="nj-wrap-table">
		<div class="nj-wrap-table-cell">
			<div class="ce-title">
				<h2>{data.header}</h2>
				<f:if condition="{data.subheader}">
					<div class="subheader">{data.subheader}</div>
				</f:if>
			</div>
			<div class="ce-bodytext">
				<f:format.raw>{data.bodytext}</f:format.raw>
			</div>
			<f:render partial="Button" arguments="{data:data}" />
		</div>
	</div>
</f:section>

<f:section name="background-image">
	<div class="nj-background-image nj-image-filter nj-image-filter--{data.nj_image_filter}"></div>
</f:section>