{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace njbs = T3kk\NjBootstrap\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />
<f:section name="content-element">
	<f:render partial="Header" arguments="{data:data}" />
	<f:render partial="Text" arguments="{data:data}" />
</f:section>