.nj-button {
	cursor: pointer;
	text-transform: uppercase;
	
	&.nj-button--icon {
		max-height: 50px;
		max-width: 50px;
		
		&[data-task] {
			cursor: pointer;
		}
	}
	
	&.nj-button--booking {
		display: inline-block;
		padding: 9px 15px;
		border: 1px solid #2a2a2a;
	}
	
	&.nj-button--form {
		line-height: 1;
		padding: 9px 15px;
		@include prop-border-radius(5);
		border: none;
		@include prop-opacity(100);
		
		&[disabled] {
			cursor: default;
			@include prop-opacity(50);
		}
	}
}