.nj-form {
	
	.form-control {
		&:focus
		{
			border: 1px solid fade(#00aeef,75%);
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(#00aeef,75%);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(#00aeef,75%);
			
			&:after {
				
			}
		}
	}
	
}