@mixin media-query($breakpoint) { 
  @if map-has-key($media-breakpoints, $breakpoint) {
    @media only screen and (min-width: #{map-get($media-breakpoints, $breakpoint)}px) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin media-phone-mini() {
	@include media-query(smartphone-mini) {
		 @content;
	}
}

@mixin media-phone() {
	@include media-query(smartphone) {
		 @content;
	}
}

@mixin media-tablet-mini() {
	@include media-query(tablet-mini) {
		 @content;
	}
}

@mixin media-tablet() {
	@include media-query(tablet) {
		 @content;
	}
}

@mixin media-tablet-large() {
	@include media-query(tablet-large) {
		 @content;
	}
}

@mixin media-desktop-mini() {
	@include media-query(desktop-mini) {
		 @content;
	}
}

@mixin media-desktop() {
	@include media-query(desktop) {
		 @content;
	}
}

@mixin media-desktop-large() {
	@include media-query(desktop-large) {
		 @content;
	}
}