@mixin flex-wrapper(
	$direction:row,
	$wrap:wrap,
	$justify-content:flex-start,
	$align-content:flex-start,
	$align-items:stretch
) {
	@include prop-flex-wrapper-align-content($align-content);	
	@include prop-flex-wrapper-align-items($align-items);
	@include prop-flex-wrapper-direction($direction);
	@include prop-flex-wrapper-display();
	@include prop-flex-wrapper-justify-content($justify-content);
	@include prop-flex-wrapper-wrap($wrap);
}

/**
 * @values: row|row-reverse|column|column-reverse|initial|inherit
 */
@mixin prop-flex-wrapper-direction($value:row) {
	-webkit-flex-direction: $value; /* Safari 6.1+ */
    flex-direction: $value; 
}

/**
 * @values: nowrap|wrap|wrap-reverse|initial|inherit
 */
@mixin prop-flex-wrapper-wrap($value:wrap) {
	-webkit-flex-wrap: $value; /* Safari 6.1+ */  
	flex-wrap: $value; 
}


/**
 * @values: stretch|center|flex-start|flex-end|space-between|space-around|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-content.asp
 **/
@mixin prop-flex-wrapper-align-content($value:flex-start) {
	-webkit-align-content: $value;
	align-content:$value;
}

/**
 * @values: stretch|center|flex-start|flex-end|baseline|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-items.asp
 **/
@mixin prop-flex-wrapper-align-items($value:stretch) {
    -webkit-align-items: $value;	/* Safari 7.0+ */
    align-items: $value;
}

@mixin prop-flex-wrapper-display() {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/**
 * @ref: http://www.w3schools.com/cssref/css3_pr_flex-flow.asp
 **/
@mixin prop-flex-wrapper-flow($value:row nowrap) {
    -webkit-flex-flow: $value; /* Safari 6.1+ */
    flex-flow: $value;
}

@mixin prop-flex-wrapper-justify-content($value:flex start) {
    -webkit-justify-content: $value;	/* Safari 6.1+ */
    justify-content: $value;
}


@mixin flex-item($order:1,$width:100)
{
	@include prop-flex-item-flex($width);
	@include prop-flex-item-order($order);
}


@mixin prop-flex-item-flex($width) {
	webkit-box-flex: setUnit($width,'%');		/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: setUnit($width,'%');		/* OLD - Firefox 19- */
	width:setUnit($width,'%');				/* For old syntax, otherwise collapses. */
	-webkit-flex: setUnit($width,'%');		/* Chrome */
	-ms-flex: setUnit($width,'%');			/* IE 10 */
	flex: setUnit($width,'%');				/* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin prop-flex-item-order($value:1) {
	-webkit-box-ordinal-group: $value;		/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: $value;			/* OLD - Firefox 19- */
	-ms-flex-order: $value;					/* TWEENER - IE 10 */
	-webkit-order: $value;					/* NEW - Chrome */
	order: $value;
} 


.nj-flex {
	@include prop-flex-wrapper-display;
}

@include media-tablet {
	.nj-flex {
		@include prop-flex-wrapper-align-content(center);
		@include prop-flex-wrapper-align-items(baseline);
		@include prop-flex-wrapper-justify-content(center);
		@include prop-flex-wrapper-direction(row);
		@include prop-flex-wrapper-wrap(nowrap);
		$justify-content: 'center' !default;
		$align-content: 'flex-start' !default;
		$align-items: 'flex-start' !default;
		
		
		&[data-flex-align-content="center"] {
			@include prop-flex-wrapper-align-content(center);
		}
		&[data-flex-align-content="flex-end"] {
			@include prop-flex-wrapper-align-content(flex-end);
		}
		&[data-flex-align-content="flex-start"] {
			@include prop-flex-wrapper-align-content(flex-start);
		}
		&[data-flex-align-content="space-around"] {
			@include prop-flex-wrapper-align-content(space-around);
		}
		&[data-flex-align-content="space-between"] {
			@include prop-flex-wrapper-align-content(space-between);
		}
		&[data-flex-align-content="stretch"] {
			@include prop-flex-wrapper-align-content(stretch);
		}
		

		&[data-flex-align-items="baseline"] {
			@include prop-flex-wrapper-align-items(baseline);
		}
		&[data-flex-align-items="center"] {
			@include prop-flex-wrapper-align-items(center);
		}
		&[data-flex-align-items="flex-end"] {
			@include prop-flex-wrapper-align-items(flex-end);
		}
		&[data-flex-align-items="flex-start"] {
			@include prop-flex-wrapper-align-items(flex-start);
		}
		&[data-flex-align-items="stretch"] {
			@include prop-flex-wrapper-align-items(stretch);
		}
		
		
		&[data-flex-direction="row"] {
			@include prop-flex-wrapper-direction(row);
		}
		&[flex-data-direction="row-reverse"] {
			@include prop-flex-wrapper-direction(row-reverse);
		}
		&[flex-data-direction="column"] {
			@include prop-flex-wrapper-direction(column);
		}
		&[flex-data-direction="column-reverse"] {
			@include prop-flex-wrapper-direction(column-reverse);
		}
		&[data-flex-wrap="nowrap"] {
			@include prop-flex-wrapper-wrap(nowrap);
		}
		&[data-flex-wrap="wrap"] {
			@include prop-flex-wrapper-wrap(wrap);
		}
		&[data-flex-wrap="wrap-reverse"] {
			@include prop-flex-wrapper-wrap(wrap-reverse);
		}
		//@include flex-wrapper($direction,$wrap,$justify-content,$align-content,$align-items);
		
		
		&[data-flex-rows="2"] {
			.nj-flex-item {
				width: setUnit(100 / 2,'%');
			}
		}
		
		
		&[data-flex-rows="5"] {
			.nj-flex-item {
				
				//@include prop-flex-item-flex(20);
				width: setUnit(100 / 5,'%');
				&.nj-flex-item--isfirst {
					
					//@include prop-flex-item-flex(40);
				}
				
				&:nth-child(5n+1) {
					
				}
				.item-container:nth-child(5n) {
					
				}
			}
		}
		&[data-direction="text-left-image-right"] {
			.nj-flex-item {
				&:first-child {
					@include prop-flex-item-order(1);
					.ce-bodytext, .ce-title {
						text-align: right;
					}
				}
				&:last-child {
					@include prop-flex-item-order(2);
				}
			}
		}
		&[data-direction="text-right-image-left"] {
			.nj-flex-item {
				&:first-child {
					@include prop-flex-item-order(2);
					.ce-bodytext, .ce-title {
						text-align: left;
					}
				}
				&:last-child {
					@include prop-flex-item-order(1);
				}
			}
		}
	}
}