@mixin font-face($fontname,$filename,$fontstyle: normal,$fontweight: normal) {
	@font-face {
		font-family: '#{$fontname}';
		src: url('Fonts/#{$filename}.eot');
		src: url('Fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
			 url('Fonts/#{$filename}.woff') format('woff'),
			 url('Fonts/#{$filename}.ttf') format('truetype'),
			 url('Fonts/#{$filename}.svg##{$filename}') format('svg');
			//svg id supports mixed case and hyphens inside, see http://j.mp/U7A83a

		font-style: $fontstyle;
		font-weight: $fontweight;
	}
}

//Type: Sans serif
@include font-face(Higher,higher-webfont);
@include font-face(Kanit-Black,kanit-black-webfont);
@include font-face(Kanit-BlackItalic,kanit-blackitalic-webfont);
@include font-face(Kanit-Bold,kanit-bold-webfont);
@include font-face(Kanit-BoldItalic,kanit-bolditalic-webfont);
@include font-face(Kanit-Extrabold,kanit-extrabold-webfont);
@include font-face(Kanit-ExtraboldItalic,kanit-extrabolditalic-webfont);
@include font-face(Kanit-Extralight,kanit-extralight-webfont);
@include font-face(Kanit-ExtralightItalic,kanit-extralightitalic-webfont);
@include font-face(Kanit-Italic,kanit-italic-webfont);
@include font-face(Kanit-Light,kanit-light-webfont);
@include font-face(Kanit-LightItalic,kanit-lightitalic-webfont);
@include font-face(Kanit-Medium,kanit-medium-webfont);
@include font-face(Kanit-MediumItalic,kanit-mediumitalic-webfont);
@include font-face(Kanit,kanit-regular-webfont);
@include font-face(Kanit-Semibold,kanit-semibold-webfont);
@include font-face(Kanit-SemiboldItalic,kanit-semibolditalic-webfont);
@include font-face(Kanit-Thin,kanit-thin-webfont);
@include font-face(Kanit-ThinItalic,kanit-thinitalic-webfont);
@include font-face(Lato,lato-regular-webfont);
@include font-face(Lato-Black,lato-black-webfont);
@include font-face(Lato-BlackItalic,lato-blackitalic-webfont);
@include font-face(Lato-Bold,lato-bold-webfont);
@include font-face(Lato-BoldItalic,lato-bolditalic-webfont);
@include font-face(Lato-Hairline,lato-hairline-webfont);
@include font-face(Lato-HairlineItalic,lato-hairlineitalic-webfont);
@include font-face(Lato-Italic,lato-italic-webfont);
@include font-face(Lato-Light,lato-light-webfont);
@include font-face(Lato-LightItalic,lato-lightitalic-webfont);
@include font-face(LoveloLine-Light,lovelo_line_light-webfont);
@include font-face(Roboto,Roboto-Regular-webfont);
@include font-face(Roboto-Black,Roboto-Black-webfont);
@include font-face(Roboto-BlackItalic,Roboto-BlackItalic-webfont);
@include font-face(Roboto-Bold,Roboto-Bold-webfont);
@include font-face(Roboto-BoldItalic,Roboto-BoldItalic-webfont);
@include font-face(RobotoCondensed,RobotoCondensed-Regular-webfont);
@include font-face(RobotoCondensed-Bold,RobotoCondensed-Bold-webfont);
@include font-face(RobotoCondensed-BoldItalic,RobotoCondensed-BoldItalic-webfont);
@include font-face(RobotoCondensed-Italic,RobotoCondensed-Italic-webfont);
@include font-face(Roboto-BlackItalic,Roboto-BlackItalic-webfont);
@include font-face(Roboto-Italic,Roboto-Italic-webfont);
@include font-face(Roboto-Light,Roboto-Light-webfont);
@include font-face(Roboto-LightItalic,Roboto-LightItalic-webfont);
@include font-face(Roboto-Medium,Roboto-Medium-webfont);
@include font-face(Roboto-MediumItalic,Roboto-MediumItalic-webfont);
@include font-face(Roboto-Thin,Roboto-Thin-webfont);
@include font-face(Roboto-ThinItalic,Roboto-ThinItalic-webfont);
@include font-face(SlimJoe,slim_joe-webfont);

//Type: Sans serif //Bold, Black
@include font-face(BigJohn,big_john-webfont);
@include font-face(Dubtronic,Dubtronic-Solid-webfont);
@include font-face(DubtronicInline,Dubtronic-Inline-webfont);
@include font-face(FiraSans-Ultra,firasans-ultra-webfont);
@include font-face(Goeo,goeo-webfont);
@include font-face(GreatLakes,GREALN__-webfont);
@include font-face(Lovelo-Black,lovelo_black-webfont);
@include font-face(LoveloLine-Bold,lovelo_line_bold-webfont);
@include font-face(Luna,luna-webfont);
@include font-face(ModerneSans,moderne_sans-webfont);
@include font-face(MullerNarrow-ExtraBold,mullernarrow-extrabold-webfont);
@include font-face(MullerNarrow-ExtraBoldItalic,mullernarrow-extrabolditalic-webfont);
@include font-face(MullerNarrow-Light,mullernarrow-light-webfont);
@include font-face(MullerNarrow-LightItalic,mullernarrow-lightitalic-webfont);
@include font-face(PorterSansInlineBlock,porter-sans-inline-block-webfont);
@include font-face(Rubik-Black,rubik-black-webfont);
@include font-face(SofadiOne,sofadione-regular-webfont);
@include font-face(Titillium-Black,titillium-black-webfont);
@include font-face(Titillium-Bold,titillium-bold-webfont);
@include font-face(Titillium-BoldItalic,titillium-bolditalic-webfont);
@include font-face(Titillium-BoldUpright,titillium-boldupright-webfont);
@include font-face(Titillium-Light,titillium-light-webfont);
@include font-face(Titillium-LightItalic,titillium-lightitalic-webfont);
@include font-face(Titillium-LightUpright,titillium-lightupright-webfont);
@include font-face(Titillium-Regular,titillium-regular-webfont);
@include font-face(Titillium-RegularItalic,titillium-regularitalic-webfont);
@include font-face(Titillium-RegularUpright,titillium-regularupright-webfont);
@include font-face(Titillium-Semibold,titillium-semibold-webfont);
@include font-face(Titillium-SemiboldItalic,titillium-semibolditalic-webfont);
@include font-face(Titillium-SemiboldUpright,titillium-semiboldupright-webfont);
@include font-face(Titillium-Thin,titillium-thin-webfont);
@include font-face(Titillium-ThinItalic,titillium-thinitalic-webfont);
@include font-face(Titillium-ThinUpright,titillium-thinupright-webfont);
@include font-face(Tracion,tracion-normal-webfont);
@include font-face(Ubuntu,ubuntu-r-webfont);
@include font-face(Ubuntu-Bold,ubuntu-b-webfont);
@include font-face(Ubuntu-BoldItalic,ubuntu-bi-webfont);
@include font-face(Ubuntu-Condensed,ubuntu-c-webfont);
@include font-face(Ubuntu-Italic,ubuntu-ri-webfont);
@include font-face(Ubuntu-Light,ubuntu-l-webfont);
@include font-face(Ubuntu-LightItalic,ubuntu-li-webfont);
@include font-face(Ubuntu-Medium,ubuntu-m-webfont);
@include font-face(Ubuntu-MediumItalic,ubuntu-mi-webfont);
@include font-face(YeahPapa,yeahpapa-webfont);

//Type Sans serif //Rough
@include font-face(Shortcut,shortcut-webfont);

//Type Sans serif //Slab
@include font-face(AlfaSlabOne,alfaslabone-regular-webfont);
@include font-face(DayPosterBlack,daypbl__-webfont);
@include font-face(PonsRoundedSlab,PonsRoundedSlab-Regular-webfont);
@include font-face(RobotoSlab,robotoslab-regular-webfont);
@include font-face(RobotoSlab-Bold,robotoslab-bold-webfont);
@include font-face(RobotoSlab-Light,robotoslab-light-webfont);
@include font-face(RobotoSlab-Thin,robotoslab-thin-webfont);
@include font-face(TrumpTown,trump_town_pro-webfont);

//Type Serif
@include font-face(Bitter,bitter-regular-webfont);
@include font-face(BitterBold,bitter-bold-webfont);
@include font-face(BitterBoldItalic,bitter-bolditalic-webfont);
@include font-face(BitterItalic,bitter-italic-webfont);
@include font-face(Calligraffitti,calligraffitti-regular-webfont);
@include font-face(Courgette,courgette-regular-webfont);
@include font-face(CroissantOne,croissantone-regular-webfont);
@include font-face(SansitaOne,sansitaone-webfont);
@include font-face(SonsieOne,sonsieone-regular-webfont);

//Type: Script ("Handwritten")
@include font-face(AlexBrush,alexbrush-regular-webfont);
@include font-face(Allura,allura-regular-webfont);
@include font-face(Arizonia,arizonia-regular-webfont);
@include font-face(BlackJack,blackjack-webfont);
@include font-face(Desyrel,desyrel-webfont);
@include font-face(Fabfelt,fabfeltscript-bold);
@include font-face(Hamster,hamster-webfont);
@include font-face(HarabaraHand,HarabaraHand-webfont);
@include font-face(JD,unquote('j.d-webfont'));
@include font-face(Journal,journal-webfont);
@include font-face(Kalam,Kalam-Regular);
@include font-face(Kalam-Bold,Kalam-Bold);
@include font-face(Kalam-Light,Kalam-Light);

@include font-face(Kaushan,kaushanscript-regular-webfont);
@include font-face(ManoNegra,WCManoNegraBta-webfont);
@include font-face(ManoNegra-Bold,WCManoNegraBoldBta-webfont);
@include font-face(Montez-Regular,Montez-Regular-webfont);
@include font-face(NoteThis,Note_this-webfont);
@include font-face(NothingYouCouldDo,nothingyoucoulddo-webfont);
@include font-face(PaulMaul,unquote('!PaulMaul-webfont'));
@include font-face(PaulMaul-Bold,unquote('!PaulMaul-b-webfont'));
@include font-face(RockSalt,RockSalt-webfont);
@include font-face(TommyLee,tommy_lee-webfont);
@include font-face(Vanderful,vanderful-webfont);

//Type: Typewriter
@include font-face(CarbonType,carbontype-webfont);

//Type: Fantasy, Style: Architecture
@include font-face(Plexifont,plexifont-webfont);

//Type: Fantasy; Style: Gothic / Old-German
@include font-face(Carrington,carrington-webfont);
@include font-face(Deutsch,Deutsch-webfont);
@include font-face(GoldsmithVintage,the_goldsmith_vintage-webfont);
@include font-face(Porcelain,porcelain-webfont);
@include font-face(Rothenburg,rothenburg-webfont);
@include font-face(Sail,sail-regular-webfont);
@include font-face(Selfish,selfish-webfont);