@function fade($color,$amount) {
	@return fade-out($color,1 - ($amount / 100));
}

@function getVw($target) {
    $vw-context: (1366*0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@function parseInt($n) { 
  @return $n / ($n * 0 + 1);
}

@function setUnit($value,$unit:px) {
	@return #{$value}#{$unit};
}

@function setFontFace($font-face,$type,$info:justForInfo) {
	$default : 'Helvetica, Arial';
	@if $type == cursive {
		$default : '"Comic Sans MS, Comic Sans"';
	} @elseif $type == fantasy {
		$default : 'Copperplate, Papyrus';
	} @elseif $type == monospace {
		$default : '"Courier New", Courier';
	} @elseif $type == sans-serif {
		$default : '"Lucida Sans Unicode", "Lucida Grande"';
	} @elseif $type == serif {
		$default : '"Palatino Linotype", "Book Antiqua", Palatino';
	}
	@if $type == cursive or $type == fantasy or $type == monospace or $type == sans-serif or $type == serif {
		@return unquote('#{$font-face}, #{$default}, #{$type}');
	} @else {
		@error 'Wrong font-type. Allowed: cursive,fantasy,monospace,sans-serif or serif.'
	}
}

@function stripUnit($value) {
	@return $value / ($value * 0 + 1);
}

@function mapSet($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}