@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin clearfix() {
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin filter($value) {
	-webkit-filter: $value;
	filter: $value;
}


@mixin headlines($showAll:false, $from:2, $to:6){
	$_this-from:1;
	$_this-to:6;
	@if $showAll == false {
		$_this-from: $from;
		$_this-to:$to;
	} 
	
    @for $i from $_this-from through $_this-to{
      h#{$i}{
        @content
      }
    }
}


@mixin headlines-lines-around() {
	&:before,
	&:after {
		content: "";
		border-top-style: solid;
		border-top-width: 1px;
		position: absolute;
		top: 50%;
		width: 2000px;
	}
	&:before {
		margin-right: 15px;
		right: 100%;
	}
	&:after {
		left: 100%;
		margin-left: 15px;
	}
}


@mixin linear-gradient($angle,$color-stops...) {
	$_angle-with-vendor-prefix: "";
	$_angle: "";
	@if $angle == "to top" or $angle == "bottom" {
		$_angle-with-vendor-prefix: bottom;
		$_angle: to top;
	} @else if $angle == "to right" or $angle == "left" {
		$_angle-with-vendor-prefix: left;
		$_angle: to right;
	} @else if $angle == "to bottom" or $angle == "top" {
		$_angle-with-vendor-prefix: top;
		$_angle: to bottom;
	} @else if $angle == "to left" or $angle == "right" {
		$_angle-with-vendor-prefix: right;
		$_angle: to left;
	} @else if $angle == "to top right" or $angle == "bottom left" {
		$_angle-with-vendor-prefix: bottom left;
		$_angle: to top right;
	} @else if $angle == "to bottom right" or $angle == "top left" {
		$_angle-with-vendor-prefix: top left;
		$_angle: to bottom right;
	} @else if $angle == "to bottom left" or $angle == "top right" {
		$_angle-with-vendor-prefix: top right;
		$_angle: to bottom left;
	} @else if $angle == "to top left" or $angle == "bottom right" {
		$_angle-with-vendor-prefix: bottom right;
		$_angle: to top left;
	} @else {
		$_angle-with-vendor-prefix: $angle % 360;
		$_angle: (90 - $angle) % 360;
	}
	background: nth(nth($color-stops, length($color-stops)), 1);
	background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
	background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
	background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
	background: linear-gradient($_angle, $color-stops);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{nth(nth($color-stops, 1), 1)}', endColorstr='#{nth(nth($color-stops, length($color-stops)), 1)}', GradientType=0 );
}

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

@mixin threedeetext($color) {
  color: $color; 
  text-shadow:
    0 2px 0 darken($color, 14%),
    0 4px 0 darken($color, 16%),
    0 6px 0 darken($color, 18%),
    0 8px 0 darken($color, 20%),
    3px 8px 15px rgba(0,0,0,0.1),
    3px 8px 5px rgba(0,0,0,0.3);
}

@mixin text-shadow-image-overlay() {
	text-shadow: 
        -5px 0px 3px rgba(0,0,0,0.2),
		0px -2.5px 3px rgba(0,0,0,0.2),
		5px 0px 3px rgba(0,0,0,0.2),
		0px 5px 3px rgba(0,0,0,0.2);

}

@mixin dimension-100-percent() {
	height: 100%;
	width: 100%;
}

@mixin overlay($zindex: 10000) {
	@include dimension-100-percent();
	position: fixed;
	top: 0;
	left: 0;
	//max-height: 0;
	//max-width: 0;
	//opacity: 0;
	display: none;
	background-color: fade(#000,85);
}

@mixin ul-list-style-none() {
	list-style: none;
	margin: 0;
	bottom: 0;
	padding: 0;
}

@mixin background-size-100-percent() {
	background-position: center center;
	background-size: cover;
}


@mixin rem($property, $values) {
	$px : (); 
	$rem: ();

	@each $value in $values {

		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		} @else {
			$unit: unit($value);
			$val: parseInt($value);

			@if $unit == "px" {
				$px : append($px,  $value);
				$rem: append($rem, ($val / 10 + rem));
			}
			@if $unit == "rem" {
				$px : append($px,  ($val * 10 + px));
				$rem: append($rem, $value);
			}
		}
	}
	
	@if $px == $rem { 
		#{$property}: $px;
	} @else {
		#{$property}: $px;
		#{$property}: $rem;
	}
}

@mixin image-filter(
	$name,
	$filter
) {
	&.nj-image-filter--#{$name} {
		@include filter($filter);
	}
}

@mixin image-filter-background(
	$name,
	$filter,
	$blend-mode:null,
	$background:null,
	$opacity:100
) {
	&.nj-image-filter--#{$name} {
		@include filter($filter);
		
		@if($blend-mode and $background) {
			&:before {
				@include image-filter-blend($blend-mode,$opacity);
				background: $background;
			}
		}
	}
}

@mixin image-filter-linear-gradient(
	$name,
	$filter,
	$blend-mode:null,
	$opacity:100,
	$angle:null,
	$color-stops...
) {
	&.nj-image-filter--#{$name} {
		@include filter($filter);
		
		@if($blend-mode and $color-stops and length($color-stops) > 1) {
			&:before {
				@include image-filter-blend($blend-mode,$opacity:1);
				@include linear-gradient($angle,$color-stops...);
			}
		}
	}
}

@mixin radial-gradient($position, $size, $color-start, $color-end, $color-start-position:0,$color-end-position:100,$type:circle) {
    background: -moz-radial-gradient($position, $type $size, $color-start setUnit($color-start-position,'%'), $color-end setUnit($color-end-position,'%'));
    //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient($position, $type $size, $color-start setUnit($color-start-position,'%'), $color-end setUnit($color-end-position,'%'));
    background: -o-radial-gradient($position, $type $size, $color-start setUnit($color-start-position,'%'), $color-end setUnit($color-end-position,'%'));
    background: -ms-radial-gradient($position, $type $size, $color-start setUnit($color-start-position,'%'), $color-end setUnit($color-end-position,'%'));
    background: radial-gradient($position, $type $size, $color-start setUnit($color-start-position,'%'), $color-end setUnit($color-end-position,'%'));
    background-color: $color-start;
}


@mixin image-filter-radial-gradient(
	$name,
	$filter,
	$blend-mode,
	$gradient-position,
	$gradient-size,
	$gradient-color-start,
	$gradient-color-end,
	$gradient-color-start-position:0,
	$gradient-color-end-position:100,
	$opacity:100,
	$gradient-type:circle
) {
	&.nj-image-filter--#{$name} {
		@if $filter != none {
			@include filter($filter);
		}
		
		&:before {
			@include image-filter-blend($blend-mode,$opacity);
			@include radial-gradient(
				$gradient-position,
				$gradient-size,
				$gradient-color-start,
				$gradient-color-end,
				$gradient-color-start-position,
				$gradient-color-end-position,
				$gradient-type
			);
		}
		
	}
}


@mixin image-filter-blend($blend-mode,$opacity:100) {
	
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	mix-blend-mode: $blend-mode;
	@if $opacity < 100 {
		@include prop-opacity($opacity);
	}
	
}

@mixin modernizr($feature,$existence:true) {
	@if $existence == true {
		html.#{$feature} {
			@content;
		}
	} @else {
		html.no-#{$feature} {
			@content;
		}
	}
}

