@mixin prop-border-radius($_value) {
	-webkit-border-radius: setUnit($_value,px);
	-moz-border-radius: setUnit($_value,px);
	border-radius: setUnit($_value,px);
	
}

@mixin prop-opacity($value){
	/* IE 5-7 */
	filter: alpha(opacity=$value);
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value+")";
	/* Netscape */
	-moz-opacity: $value / 100;
	/* Safari 1.x */
	-khtml-opacity: $value / 100;
	/* Good browsers */
	opacity: $value / 100;
}

@mixin prop-svg-fill($color: #2a2a2a) {
	svg {
		circle, g, path, polygon, rect {
			fill: $color;
		}
	}
}

/**
 * @param {Size} $x [2px] - X
 * @param {Size} $y [2px] - Y
 * @param {Size} $blur [2px] - Blur
 * @param {Color} $color [rgba(0,0,0,.4)] - Color
 */
@mixin prop-text-shadow($x: 0px, $y: 0px, $blur: 5px, $color: rgba(0,0,0,.6)) {
    text-shadow: $x $y $blur $color;
}

@mixin prop-transform($_value) {
	-webkit-transform: $_value;
	-moz-transform: $_value;
	-ms-transform: $_value;
	-o-transform: $_value;
	transform: $_value;
}

@mixin prop-transform-style($_value) {
	-webkit-transform-style: $_value;
	-moz-transform-style: $_value;
	-ms-transform-style: $_value;
	-o-transform-style: $_value;
	transform-style: $_value;
}

@mixin prop-transition($_values...) {
	-webkit-transition: $_values;
	-moz-transition: $_values;
	-ms-transition: $_values;
	-o-transition: $_values;
	transition: $_values;
}